In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# from pandas import ExcelWriter
# from pandas import ExcelFile
import sqlalchemy
# import sqlite3 as sq
import os

In [4]:
# print (os.environ)
if not os.environ.get('DYNO'):
    import config
    print(config.name)
    
if os.environ.get("DATABASE_URL"):
    url=os.environ["DATABASE_URL"]
else:
    url = config.url

engine= sqlalchemy.create_engine(url)

GlobalEnergy

In [6]:
total_consumption_df = pd.read_sql("SELECT * FROM total_consumption", engine)
emissions_df = pd.read_sql("SELECT * FROM emissions", engine)
coal_consumption_df = pd.read_sql("SELECT * FROM coal_consumption", engine)
electricity_consumption_df = pd.read_sql("SELECT * FROM electricity_consumption", engine)
ng_consumption_df = pd.read_sql("SELECT * FROM ng_consumption", engine)
oil_consumption_df = pd.read_sql("SELECT * FROM oil_consumption", engine)
electricity_renewables_df = pd.read_sql("SELECT * FROM electricity_renewables_share", engine)
gdp_df = pd.read_sql("SELECT * FROM gdp_table", engine)

In [57]:
df = total_consumption_df.copy()
df = df.loc[df["Year"]==max(df["Year"])]
df

,Year,World,OECD,G7,BRICS,Europe,European Union,Belgium,Czech Rep.,France,...,Africa,Algeria,Egypt,Nigeria,South Africa,Middle-East,Iran,Kuwait,Saudi Arabia,United Arab Emirates
27,2017,14126,5363,3804,5214,1857,1611,56,44,243,...,805,53,86,140,140,786,253,35,224,74

In [58]:
list_Col_NOT = ["Year","World","OECD","G7","BRICS","Europe","European Union","Africa","Middle-East","CIS", \
                "Latin America","America","North America","Asia","Pacific"]

In [61]:
list_Col_2Ext = [x for x in df.columns if x not in list_Col_NOT]
# list_Col_2Ext
list_dict = []
for x in list_Col_2Ext:
    dict_x = {'Country': x, 'Value': df[x].values[0]}
    list_dict.append(dict_x)
list_dict_sorted = sorted(list_dict, key=lambda k: k['Value'], reverse=True)
for i in range(len(list_dict_sorted)):
    i += 1
    list_dict_sorted[i-1]['Rank'] = i
    
def search_dict(key, value, list_of_dict):
    return [dict_x for dict_x in list_of_dict if dict_x[key] == value]

search_dict("Country", "China", list_dict_sorted)

[{'Country': 'China', 'Value': 3105, 'Rank': 1}]

In [66]:
def funRankCountry(df_data,list_Col_NOT,country):
    df = df_data.copy()
    df = df.loc[df["Year"]==max(df["Year"])]
    list_Col_2Ext = [x for x in df.columns if x not in list_Col_NOT]
    
    list_dict = []
    for x in list_Col_2Ext:
        dict_x = {'Country': x, 'Value': df[x].values[0]}
        list_dict.append(dict_x)
        
    list_dict_sorted = sorted(list_dict, key=lambda k: k['Value'], reverse=True)
    for i in range(len(list_dict_sorted)):
        i += 1
        list_dict_sorted[i-1]['Rank'] = i
        
    return [dict_x for dict_x in list_dict_sorted if dict_x['Country'] == country]

In [ ]:
def PreprocGDP(df_GDP):
    list(df_GDP["Country"].unique())

In [69]:
xx = funRankCountry(total_consumption_df,list_Col_NOT,"United States")
print(xx)

[{'Country': 'United States', 'Value': 2201, 'Rank': 2}]

In [88]:
# emissions_df
# coal_consumption_df
# electricity_consumption_df
# ng_consumption_df
# oil_consumption_df
# electricity_renewables_df
# gdp_df
print(funRankCountry(total_consumption_df,list_Col_NOT,"United States"))
print(funRankCountry(coal_consumption_df,list_Col_NOT,"United States"))
print(funRankCountry(electricity_consumption_df,list_Col_NOT,"United States"))
print(funRankCountry(ng_consumption_df,list_Col_NOT,"United States"))
print(funRankCountry(oil_consumption_df,list_Col_NOT,"United States"))
print(funRankCountry(electricity_renewables_df,list_Col_NOT,"United States"))
# print(funRankCountry(gdp_df,list_Col_NOT,"United States"))
list_year = list(gdp_df.loc[gdp_df["Country"]=="China","Year"].unique())
list_year = [int(i) for i in list_year]
print(list_year.sort())

[{'Country': 'United States', 'Value': 2201, 'Rank': 2}]
[{'Country': 'United States', 'Value': 649, 'Rank': 3}]
[{'Country': 'United States', 'Value': 3808, 'Rank': 2}]
[{'Country': 'United States', 'Value': 762, 'Rank': 1}]
[{'Country': 'United States', 'Value': 773, 'Rank': 1}]
[{'Country': 'United States', 'Value': 17.66, 'Rank': 22}]
None

In [ ]:
list_countries = list(gdp_df["Country"].unique())
list_dict = []
dict_x = {'Year': list(gdp_df.loc["Year"].unique())}
for country in list_countries:    
    dict_x[country] =