In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from pandas import ExcelWriter
from pandas import ExcelFile
import sqlalchemy
import sqlite3 as sq
import os
from db_key import user, password, port, database, host

In [2]:
path = '../../Data/GDP_PercentageCSV'
FileNames = os.listdir(path)
FileNames

['gdp.csv',
 'GDP_Brazil.csv',
 'GDP_China.csv',
 'GDP_Germany.csv',
 'GDP_Russia.csv',
 'GDP_USA.csv']

In [3]:
url = 'postgres://'+user+':'+password+'@'+host+':'+port+'/'+database

engine = sqlalchemy.create_engine(url) # connect to server
con = engine.connect()

In [5]:
for x in FileNames:
    df = pd.read_csv(path + "/" + x) 
    df.columns =["Year","Agriculture_hunting_forestry_fishing", "Mining_Manufacturing", "Manufacturing",\
                             "Construction","Wholesale_retail_restaurants_hotels","Transport_storage_communication",\
                             "Other","Total"]
    df = df.dropna(how='any')
    df = df.set_index('Year')
    df.head()
    df["Total"] = "0"
    list_col = list(df.columns)
    for y in list_col:
        df.loc[df[y] == "..."] = "0"    
    for y in list_col:
        df[y] = df[y].astype(float)        
    y = y.replace(".csv", "")
#     df.to_sql(name = y, con = engine, if_exists = 'replace', index=False)

df.head()

,Agriculture_hunting_forestry_fishing,Mining_Manufacturing,Manufacturing,Construction,Wholesale_retail_restaurants_hotels,Transport_storage_communication,Other,Total
Year,,,,,,,,
1970,2.363590,27.200066,23.540119,4.868667,16.490406,9.821379,39.255893,0.0
1971,2.348118,26.547165,22.899968,4.923595,16.481499,9.915914,39.783708,0.0
1972,2.468580,26.508286,22.928810,4.979781,16.473436,10.067511,39.502406,0.0
1973,3.244053,26.453967,22.852231,4.968781,16.370765,9.973210,38.989225,0.0
1974,2.907139,26.218354,22.057238,4.854255,16.417547,10.169189,39.433516,0.0

In [13]:
df = df.reset_index()
df.head()

,level_0,index,Year,Agriculture_hunting_forestry_fishing,Mining_Manufacturing,Manufacturing,Construction,Wholesale_retail_restaurants_hotels,Transport_storage_communication,Other,Total
0,0,0,1970,2.363590,27.200066,23.540119,4.868667,16.490406,9.821379,39.255893,0.0
1,1,1,1971,2.348118,26.547165,22.899968,4.923595,16.481499,9.915914,39.783708,0.0
2,2,2,1972,2.468580,26.508286,22.928810,4.979781,16.473436,10.067511,39.502406,0.0
3,3,3,1973,3.244053,26.453967,22.852231,4.968781,16.370765,9.973210,38.989225,0.0
4,4,4,1974,2.907139,26.218354,22.057238,4.854255,16.417547,10.169189,39.433516,0.0

In [32]:
xx = df.loc[df["Year"]==max(df["Year"])]
xx

,level_0,index,Year,Agriculture_hunting_forestry_fishing,Mining_Manufacturing,Manufacturing,Construction,Wholesale_retail_restaurants_hotels,Transport_storage_communication,Other,Total
47,47,47,2017,0.868351,14.454047,11.185926,4.010223,14.635724,10.480775,55.55088,0.0

In [42]:
list_col = list(xx.columns)
y = []
for x in list_col:
    y.append(float(xx[x].values[0]))
print(y.sort())

None

In [ ]:
df = pd.read_csv(path + "/" + "GDP_Russia.csv")
df = df.dropna(how='any')
df = df.set_index('Year')
df.head()

In [ ]:
df.dtypes

In [ ]:
df.iloc[0,1]

In [ ]:
df.loc[df["Total Value Added"] == "..."] = "0"
df