In [2]:
# Dependencies
import json
import requests
from pprint import pprint
from config import eia_api_key 
import pandas as pd
from pandas.io.json import json_normalize

In [3]:
# Building URL & Query
url = "http://api.eia.gov/series"
series_id = "NG.N9010US2.M"
query = f"{url}?api_key={eia_api_key}&series_id={series_id}"

# print(query)

response = requests.get(query).json()
pprint(response)

{'request': {'command': 'series', 'series_id': 'NG.N9010US2.M'},
 'series': [{'copyright': 'None',
             'data': [['201903', 3363602],
                      ['201902', 3043664],
                      ['201901', 3356433],
                      ['201812', 3352785],
                      ['201811', 3233430],
                      ['201810', 3272022],
                      ['201809', 3134786],
                      ['201808', 3180213],
                      ['201807', 3108098],
                      ['201806', 2954943],
                      ['201805', 3081754],
                      ['201804', 2959887],
                      ['201803', 3048056],
                      ['201802', 2723563],
                      ['201801', 2959321],
                      ['201712', 3006062],
                      ['201711', 2884127],
                      ['201710', 2906765],
                      ['201709', 2767345],
                      ['201708', 2780821],
                      ['201707', 2763649],
                      ['201706', 2693285],
                      ['201705', 2787032],
                      ['201704', 2703018],
                      ['201703', 2811662],
                      ['201702', 2504926],
                      ['201701', 2748684],
                      ['201612', 2746543],
                      ['201611', 2678247],
                      ['201610', 2720187],
                      ['201609', 2626213],
                      ['201608', 2722631],
                      ['201607', 2721210],
                      ['201606', 2628164],
                      ['201605', 2767844],
                      ['201604', 2678610],
                      ['201603', 2824983],
                      ['201602', 2653842],
                      ['201601', 2823104],
                      ['201512', 2812110],
                      ['201511', 2726220],
                      ['201510', 2806078],
                      ['201509', 2721449],
                      ['201508', 2744748],
                      ['201507', 2756222],
                      ['201506', 2660158],
                      ['201505', 2790849],
                      ['201504', 2758730],
                      ['201503', 2827524],
                      ['201502', 2520509],
                      ['201501', 2790052],
                      ['201412', 2770080],
                      ['201411', 2661917],
                      ['201410', 2735719],
                      ['201409', 2625503],
                      ['201408', 2644937],
                      ['201407', 2629156],
                      ['201406', 2560033],
                      ['201405', 2633253],
                      ['201404', 2583873],
                      ['201403', 2623914],
                      ['201402', 2356978],
                      ['201401', 2580019],
                      ['201312', 2525967],
                      ['201311', 2455169],
                      ['201310', 2513172],
                      ['201309', 2414405],
                      ['201308', 2495089],
                      ['201307', 2512441],
                      ['201306', 2385386],
                      ['201305', 2488677],
                      ['201304', 2446307],
                      ['201303', 2504000],
                      ['201302', 2269907],
                      ['201301', 2512031],
                      ['201212', 2523763],
                      ['201211', 2471365],
                      ['201210', 2557140],
                      ['201209', 2410375],
                      ['201208', 2373954],
                      ['201207', 2465064],
                      ['201206', 2376776],
                      ['201205', 2490707],
                      ['201204', 2417498],
                      ['201203', 2524260],
                      ['201202', 2360061],
                      ['201201', 2571350],
                      ['201112', 2543747],
                      ['201111', 2475947],
                      ['201110', 2502387],
                      ['201109', 2358169],
                      ['201108', 2370440],
                      ['201107', 2340293],
                      ['201106', 2312943],
                      ['201105', 2410866],
                      ['201104', 2349720],
                      ['201103', 2410884],
                      ['201102', 2104330],
                      ['201101', 2299298],
                      ['201012', 2400418],
                      ['201011', 2276710],
                      ['201010', 2356947],
                      ['201009', 2238147],
                      ['201008', 2235038],
                      ['201007', 2208753],
                      ['201006', 2138770],
                      ['201005', 2236507],
                      ['201004', 2190270],
                      ['201003', 2276546],
                      ['201002', 2047815],
                      ['201001', 2210163],
                      ['200912', 2196325],
                      ['200911', 2144157],
                      ['200910', 2197157],
                      ['200909', 2089220],
                      ['200908', 2192597],
                      ['200907', 2170032],
                      ['200906', 2140519],
                      ['200905', 2190437],
                      ['200904', 2147856],
                      ['200903', 2262488],
                      ['200902', 2074167],
                      ['200901', 2251938],
                      ['200812', 2227028],
                      ['200811', 2149851],
                      ['200810', 2153389],
                      ['200809', 1919520],
                      ['200808', 2193566],
                      ['200807', 2205260],
                      ['200806', 2118791],
                      ['200805', 2153316],
                      ['200804', 2112605],
                      ['200803', 2204088],
                      ['200802', 2043801],
                      ['200801', 2155041],
                      ['200712', 2176213],
                      ['200711', 2098602],
                      ['200710', 2122193],
                      ['200709', 2040241],
                      ['200708', 2076235],
                      ['200707', 2053286],
                      ['200706', 2019862],
                      ['200705', 2066642],
                      ['200704', 1994942],
                      ['200703', 2094555],
                      ['200702', 1878003],
                      ['200701', 2042882],
                      ['200612', 2055955],
                      ['200611', 1974331],
                      ['200610', 2025782],
                      ['200609', 1946109],
                      ['200608', 1989430],
                      ['200607', 1975235],
                      ['200606', 1938796],
                      ['200605', 1956520],
                      ['200604', 1908987],
                      ['200603', 1994464],
                      ['200602', 1794241],
                      ['200601', 1975168],
                      ['200512', 1995862],
                      ['200511', 1901758],
                      ['200510', 1871190],
                      ['200509', 1766603],
                      ['200508', 1988105],
                      ['200507', 1984143],
                      ['200506', 1972975],
                      ['200505', 2010625],
                      ['200504', 1979474],
                      ['200503', 2080504],
                      ['200502', 1870546],
                      ['200501', 2035036],
                      ['200412', 2023680],
                      ['200411', 1969226],
                      ['200410', 2009174],
                      ['200409', 1909243],
                      ['200408', 2016570],
                      ['200407', 2019157],
                      ['200406', 1965797],
                      ['200405', 2001333],
                      ['200404', 1995315],
                      ['200403', 2076537],
                      ['200402', 1920843],
                      ['200401', 2062805],
                      ['200312', 2045819],
                      ['200311', 1977961],
                      ['200310', 2057161],
                      ['200309', 1976511],
                      ['200308', 2033633],
                      ['200307', 1991705],
                      ['200306', 1970130],
                      ['200305', 2016922],
                      ['200304', 2007565],
                      ['200303', 2104114],
                      ['200302', 1880691],
                      ['200301', 2056766],
                      ['200212', 2053385],
                      ['200211', 1979436],
                      ['200210', 1976488],
                      ['200209', 1922715],
                      ['200208', 2018574],
                      ['200207', 2036905],
                      ['200206', 1969276],
                      ['200205', 2027979],
                      ['200204', 1978245],
                      ['200203', 2061811],
                      ['200202', 1858737],
                      ['200201', 2057728],
                      ['200112', 2074278],
                      ['200111', 2006035],
                      ['200110', 2097034],
                      ['200109', 2009185],
                      ['200108', 2056737],
                      ['200107', 2041970],
                      ['200106', 1993266],
                      ['200105', 2070749],
                      ['200104', 2028145],
                      ['200103', 2116381],
                      ['200102', 1910051],
                      ['200101', 2096948],
                      ['200012', 2070613],
                      ['200011', 1999721],
                      ['200010', 2097748],
                      ['200009', 1987026],
                      ['200008', 2038022],
                      ['200007', 2017945],
                      ['200006', 1964009],
                      ['200005', 2001347],
                      ['200004', 1957991],
                      ['200003', 2075453],
                      ['200002', 1908564],
                      ['200001', 2055436],
                      ['199912', 2040832],
                      ['199911', 1982844],
                      ['199910', 2017247],
                      ['199909', 1936842],
                      ['199908', 1986161],
                      ['199907', 1982772],
                      ['199906', 1937399],
                      ['199905', 1975317],
                      ['199904', 1959557],
                      ['199903', 2064381],
                      ['199902', 1873657],
                      ['199901', 2065702],
                      ['199812', 2024280],
                      ['199811', 1972556],
                      ['199810', 2029621],
                      ['199809', 1883936],
                      ['199808', 2037306],
                      ['199807', 2017746],
                      ['199806', 1988362],
                      ['199805', 2053427],
                      ['199804', 2009141],
                      ['199803', 2097816],
                      ['199802', 1890587],
                      ['199801', 2103350],
                      ['199712', 2043797],
                      ['199711', 1999185],
                      ['199710', 2056810],
                      ['199709', 1979180],
                      ['199708', 2013271],
                      ['199707', 2011169],
                      ['199706', 1943561],
                      ['199705', 2032294],
                      ['199704', 1984535],
                      ['199703', 2094342],
                      ['199702', 1897202],
                      ['199701', 2080127],
                      ['199612', 2054700],
                      ['199611', 2008920],
                      ['199610', 2030248],
                      ['199609', 1966704],
                      ['199608', 2025372],
                      ['199607', 2007073],
                      ['199606', 1959001],
                      ['199605', 2022455],
                      ['199604', 2000697],
                      ['199603', 2051442],
                      ['199602', 1937875],
                      ['199601', 2049073],
                      ['199512', 2127881],
                      ['199511', 2045375],
                      ['199510', 1988496],
                      ['199509', 1914391],
                      ['199508', 1964637],
                      ['199507', 1960252],
                      ['199506', 1910423],
                      ['199505', 1996735],
                      ['199504', 1944500],
                      ['199503', 2025808],
                      ['199502', 1821998],
                      ['199501', 2043131],
                      ['199412', 2115634],
                      ['199411', 2035684],
                      ['199410', 1981888],
                      ['199409', 1877710],
                      ['199408', 1970795],
                      ['199407', 1942942],
                      ['199406', 1881268],
                      ['199405', 1983962],
                      ['199404', 1924133],
                      ['199403', 2028595],
                      ['199402', 1815466],
                      ['199401', 2022627],
                      ['199312', 2063028],
                      ['199311', 1965775],
                      ['199310', 1950320],
                      ['199309', 1832337],
                      ['199308', 1871405],
                      ['199307', 1850299],
                      ['199306', 1794868],
                      ['199305', 1878769],
                      ['199304', 1842904],
                      ['199303', 1943064],
                      ['199302', 1767708],
                      ['199301', 1965166],
                      ['199212', 1955878],
                      ['199211', 1871098],
                      ['199210', 1898912],
                      ['199209', 1786200],
                      ['199208', 1798984],
                      ['199207', 1841528],
                      ['199206', 1799501],
                      ['199205', 1841543],
                      ['199204', 1801298],
                      ['199203', 1837330],
                      ['199202', 1747923],
                      ['199201', 1952053],
                      ['199112', 1942461],
                      ['199111', 1864008],
                      ['199110', 1863592],
                      ['199109', 1715762],
                      ['199108', 1740663],
                      ['199107', 1740174],
                      ['199106', 1712514],
                      ['199105', 1786338],
                      ['199104', 1799742],
                      ['199103', 1889228],
                      ['199102', 1737959],
                      ['199101', 1956947],
                      ['199012', 1895421],
                      ['199011', 1825816],
                      ['199010', 1841740],
                      ['199009', 1690802],
                      ['199008', 1764953],
                      ['199007', 1757476],
                      ['199006', 1712084],
                      ['199005', 1781076],
                      ['199004', 1752771],
                      ['199003', 1841822],
                      ['199002', 1719684],
                      ['199001', 1938977],
                      ['198912', 1855838],
                      ['198911', 1789778],
                      ['198910', 1724142],
                      ['198909', 1649263],
                      ['198908', 1720256],
                      ['198907', 1725453],
                      ['198906', 1688471],
                      ['198905', 1775667],
                      ['198904', 1742633],
                      ['198903', 1814437],
                      ['198902', 1717410],
                      ['198901', 1871079],
                      ['198812', 1871261],
                      ['198811', 1777887],
                      ['198810', 1753272],
                      ['198809', 1614511],
                      ['198808', 1697417],
                      ['198807', 1680284],
                      ['198806', 1660533],
                      ['198805', 1730340],
                      ['198804', 1690503],
                      ['198803', 1833049],
                      ['198802', 1758595],
                      ['198801', 1931603],
                      ['198712', 1874822],
                      ['198711', 1730252],
                      ['198710', 1691308],
                      ['198709', 1546332],
                      ['198708', 1617677],
                      ['198707', 1592419],
                      ['198706', 1575395],
                      ['198705', 1641199],
                      ['198704', 1646758],
                      ['198703', 1745201],
                      ['198702', 1648472],
                      ['198701', 1830364],
                      ['198612', 1744243],
                      ['198611', 1635610],
                      ['198610', 1549075],
                      ['198609', 1449958],
                      ['198608', 1531488],
                      ['198607', 1530478],
                      ['198606', 1488517],
                      ['198605', 1559058],
                      ['198604', 1532501],
                      ['198603', 1697033],
                      ['198602', 1590678],
                      ['198601', 1822072],
                      ['198512', 1832894],
                      ['198511', 1605066],
                      ['198510', 1594820],
                      ['198509', 1536110],
                      ['198508', 1559116],
                      ['198507', 1570088],
                      ['198506', 1526158],
                      ['198505', 1585096],
                      ['198504', 1601171],
                      ['198503', 1689944],
                      ['198502', 1672775],
                      ['198501', 1833462],
                      ['198412', 1794932],
                      ['198411', 1661692],
                      ['198410', 1667575],
                      ['198409', 1580166],
                      ['198408', 1658423],
                      ['198407', 1682570],
                      ['198406', 1623846],
                      ['198405', 1675256],
                      ['198404', 1671840],
                      ['198403', 1699551],
                      ['198402', 1655189],
                      ['198401', 1895481],
                      ['198312', 1642136],
                      ['198311', 1521775],
                      ['198310', 1531355],
                      ['198309', 1462650],
                      ['198308', 1532451],
                      ['198307', 1551881],
                      ['198306', 1495326],
                      ['198305', 1532055],
                      ['198304', 1542366],
                      ['198303', 1577466],
                      ['198302', 1521467],
                      ['198301', 1748117],
                      ['198212', 1669000],
                      ['198211', 1627000],
                      ['198210', 1615000],
                      ['198209', 1574000],
                      ['198208', 1643000],
                      ['198207', 1672000],
                      ['198206', 1647000],
                      ['198205', 1698000],
                      ['198204', 1719000],
                      ['198203', 1822000],
                      ['198202', 1716000],
                      ['198201', 1870000],
                      ['198112', 1860000],
                      ['198111', 1714000],
                      ['198110', 1781000],
                      ['198109', 1716000],
                      ['198108', 1841000],
                      ['198107', 1797000],
                      ['198106', 1770000],
                      ['198105', 1838000],
                      ['198104', 1808000],
                      ['198103', 1871000],
                      ['198102', 1702000],
                      ['198101', 1890000],
                      ['198012', 1949000],
                      ['198011', 1790000],
                      ['198010', 1790000],

In [4]:
df = pd.DataFrame(response['series'][0]["data"])
df = df.dropna(how='any')
df.columns = ['Period','Values']
df

     Period     Values
0    201903  3363602.0
1    201902  3043664.0
2    201901  3356433.0
3    201812  3352785.0
4    201811  3233430.0
5    201810  3272022.0
6    201809  3134786.0
7    201808  3180213.0
8    201807  3108098.0
9    201806  2954943.0
10   201805  3081754.0
11   201804  2959887.0
12   201803  3048056.0
13   201802  2723563.0
14   201801  2959321.0
15   201712  3006062.0
16   201711  2884127.0
17   201710  2906765.0
18   201709  2767345.0
19   201708  2780821.0
20   201707  2763649.0
21   201706  2693285.0
22   201705  2787032.0
23   201704  2703018.0
24   201703  2811662.0
25   201702  2504926.0
26   201701  2748684.0
27   201612  2746543.0
28   201611  2678247.0
29   201610  2720187.0
..      ...        ...
441  198206  1647000.0
442  198205  1698000.0
443  198204  1719000.0
444  198203  1822000.0
445  198202  1716000.0
446  198201  1870000.0
447  198112  1860000.0
448  198111  1714000.0
449  198110  1781000.0
450  198109  1716000.0
451  198108  1841000.0
452  198107  1797000.0
453  198106  1770000.0
454  198105  1838000.0
455  198104  1808000.0
456  198103  1871000.0
457  198102  1702000.0
458  198101  1890000.0
459  198012  1949000.0
460  198011  1790000.0
461  198010  1790000.0
462  198009  1723000.0
463  198008  1716000.0
464  198007  1756000.0
465  198006  1725000.0
466  198005  1840000.0
467  198004  1806000.0
468  198003  1971000.0
469  198002  1840000.0
470  198001  1960000.0

[471 rows x 2 columns]

In [10]:
csv_file = pd.read_csv('tableValueAdded.csv')
csv_file1 = csv_file.dropna(how='any')
csv_file1.head()

,Year,"Agriculture, hunting, forestry, fishing (ISIC A-B)","Mining, Manufacturing, Utilities (ISIC C-E)",Manufacturing (ISIC D),Construction (ISIC F),"Wholesale, retail trade, restaurants and hotels (ISIC G-H)","Transport, storage and communication (ISIC I)",Other Activities (ISIC J-P),Total Value Added
1,1970,35.111423,36.686261,...,3.706791,8.321635,4.395508,11.778382,...
2,1971,33.933005,38.108999,...,3.931784,7.761814,4.412064,11.852334,...
3,1972,32.706472,39.182730,...,3.714151,8.121768,4.818994,11.455885,...
4,1973,33.219650,39.289602,...,3.664466,8.148901,4.752921,10.924461,...
5,1974,33.722328,38.701464,...,3.851050,7.836481,4.675012,11.213664,...

In [7]:
import mysql.connector
from db_key import mysql_user, mysql_password

mydb = mysql.connector.connect(
  host="localhost",
  user=mysql_user,
  passwd=mysql_password)

mycursor = mydb.cursor()

mycursor.execute("CREATE DATABASE IF NOT EXISTS GlobalEnergy_db")

In [8]:
from pandas.io import sql
from sqlalchemy import create_engine
engine = create_engine('mysql+pymysql://' + mysql_user + ':' + mysql_password + '@localhost/GlobalEnergy_db')
with engine.connect() as con, con.begin():
    df.to_sql(con=con, name='Trial_1', if_exists='replace')
    csv_file1.to_sql(con=con, name='csv_1', if_exists='replace')