In [1]:
import pandas as pd

In [5]:
elec_df = pd.read_csv('countries_gdp_location.csv')

In [6]:
elec_df.head()

,Country,Year,Agriculture,Mining,Manufacturing,Construction,Wholesale,Transport,Other,Total,Alpha_2_code,Alpha_3_code,Numeric_code,Latitude_ave,Longitude_ave,Continent
0,Afghanistan,1970,7.988266e+09,1.005687e+09,9.815076e+08,45953601.03,444123690.9,254353096.4,445922527.6,1.116581e+10,AF,AFG,4,33.0,65.0,Asia
1,Afghanistan,1971,7.682982e+09,1.053357e+09,1.028809e+09,45953601.03,403495351.6,231084930.1,405129631.1,1.085081e+10,AF,AFG,4,33.0,65.0,Asia
2,Afghanistan,1972,7.360738e+09,1.101897e+09,1.076111e+09,48372211.60,399290874.0,228676993.0,400908124.0,1.061599e+10,AF,AFG,4,33.0,65.0,Asia
3,Afghanistan,1973,7.903465e+09,1.152177e+09,1.123412e+09,55628043.34,476347278.0,272807795.7,478276630.0,1.146211e+10,AF,AFG,4,33.0,65.0,Asia
4,Afghanistan,1974,8.178457e+09,1.268854e+09,1.237176e+09,55628043.34,504645136.1,330676115.9,504847553.9,1.208028e+10,AF,AFG,4,33.0,65.0,Asia

In [9]:
a = elec_df[elec_df['Country']=='Iran']

In [19]:
a.columns

Index(['Country', 'Year', 'Agriculture', 'Mining', 'Manufacturing',
       'Construction', 'Wholesale', 'Transport', 'Other', 'Total',
       'Alpha_2_code', 'Alpha_3_code', 'Numeric_code', 'Latitude_ave',
       'Longitude_ave', 'Continent'],
      dtype='object')