In [1]:
import pandas as pd
# import matplotlib.pyplot as plt
# from pandas import ExcelWriter
# from pandas import ExcelFile
import sqlalchemy
import sqlite3 as sq

In [2]:
user = 'cvkuzmyutihdti'
password = 'ccb658b9dbaa9f02508c213880d12db3c0025e92aea837baa7f5f11f60a073e0'
port = '5432'
database = 'd7drrt22cf3tcf'
host = 'ec2-23-21-91-183.compute-1.amazonaws.com'

url = 'postgres://'+user+':'+password+'@'+host+':'+port+'/'+database

engine = sqlalchemy.create_engine(url) # connect to server
con = engine.connect()

In [18]:
# file = 'CO2_emissions_from_fuel_combus.csv'
file = 'Total_energy_consumption.csv'

In [19]:
df = pd.read_csv(file)
df = df.transpose()
df = df.reset_index()
df.columns = df.iloc[0]
df = df.reindex(df.index.drop(0))
df = df.rename(columns = {'Unnamed: 0':'Year'})
df = df.reindex(df.index.drop(29))
df = df.reindex(df.index.drop(30))
df.head()

,Year,World,OECD,G7,BRICS,Europe,European Union,Belgium,Czech Rep.,France,...,Africa,Algeria,Egypt,Nigeria,South Africa,Middle-East,Iran,Kuwait,Saudi Arabia,United Arab Emirates
26,2015,13656,5275,3783,4977,1808,1588,53,42,246,...,774,54,79,139,142,758,237,35,222,73
27,2016,13812,5304,3782,5054,1821,1595,57,42,242,...,781,53,83,138,143,760,239,36,221,74
28,2017,14126,5363,3804,5214,1857,1611,56,44,243,...,805,53,86,140,140,786,253,35,224,74
29,2016 - 2017 (%),2.3,1.1,0.6,3.2,2,1,-1.9,4.9,0.3,...,3.1,-0.1,4.3,1.6,-1.9,3.4,5.8,-0.4,1.4,-0.6
30,2000 - 2017 (%/year),2,0.1,-0.3,4.5,0,-0.3,-0.3,0.3,-0.3,...,3,4.1,4.5,2.9,1.5,4.5,4.3,3.8,5,5.1

In [25]:
df.to_sql(name="total_consumption", con = engine, if_exists = 'replace', index=False)

In [ ]:
# df.to_sql(name="emissions", con = engine, if_exists = 'replace', index=False)

In [ ]:
consumption_df = pd.read_excel(file, sheet_name='T34 Wine consumption vol', skiprows=0) # 1st row is sheet title, 2nd is column header

In [ ]:
consumption_df.head()

In [ ]:
test = consumption_df.set_index('year')

In [ ]:
test = consumption_df.transpose()

In [ ]:
test.head()

In [ ]:
consumption_df = pd.read_excel(file, sheet_name='T34 Wine consumption vol', skiprows=0) # 1st row is sheet title, 2nd is column header

production_df = pd.read_excel(file, sheet_name='T6 Wine production', skiprows=0) # 1st row is sheet title, 2nd is column header

population_df = pd.read_excel(file, sheet_name='T58 Population', skiprows=0) # 1st row is sheet title, 2nd is column header

In [ ]:
consumption_df.head()

In [ ]:
production_df.head()

In [ ]:
population_df.head()

In [ ]:
user = 'cvkuzmyutihdti'
password = 'ccb658b9dbaa9f02508c213880d12db3c0025e92aea837baa7f5f11f60a073e0'
port = '5432'
database = 'd7drrt22cf3tcf'
host = 'ec2-23-21-91-183.compute-1.amazonaws.com'

url = 'postgres://'+user+':'+password+'@'+host+':'+port+'/'+database

engine = sqlalchemy.create_engine(url) # connect to server
con = engine.connect()

In [ ]:
consumption_df.to_sql(name="consumption_db", con = engine, if_exists = 'replace', index=False)
production_df.to_sql(name="production_db", con = engine, if_exists = 'replace', index=False)
population_df.to_sql(name="population_db", con = engine, if_exists = 'replace', index=False)

In [ ]:
## create df from wine reviews file
winemag_df = pd.read_csv('winemag-data-short.csv')
winemag_df.head()

In [ ]:
# Create table with wine reviews info in heroku postgres
winemag_df.to_sql(name="winemag_db", con = engine, if_exists = 'replace', index=False)

In [ ]:
### Create a sqlite file from a dataframe

sql_data = 'wine_db.sqlite' #- Creates DB names SQLite
conn = sq.connect(sql_data)
cur = conn.cursor()
# cur.execute('''DROP TABLE IF EXISTS''')
consumption_df.to_sql('consumption', conn, if_exists='replace', index=True) # - writes the pd.df to SQLIte DB
production_df.to_sql('production', conn, if_exists='replace', index=True)
population_df.to_sql('population', conn, if_exists='replace', index=True)
#pd.read_sql('select * from SentimentAnalysis', conn)
conn.commit()
conn.close()

In [ ]:
### Create a sqlite file from a dataframe

sql_data = 'winemag_short_db.sqlite' #- Creates DB names SQLite
conn = sq.connect(sql_data)
cur = conn.cursor()
# cur.execute('''DROP TABLE IF EXISTS''')
winemag_df.to_sql('winemag_db', conn, if_exists='replace', index=True) # - writes the pd.df to SQLIte DB
# production_df.to_sql('production', conn, if_exists='replace', index=True)
# population_df.to_sql('population', conn, if_exists='replace', index=True)
#pd.read_sql('select * from SentimentAnalysis', conn)
conn.commit()
conn.close()

In [ ]:
pwd