In [2]:
import pandas as pd
import sqlalchemy
import sqlite3 as sq

In [27]:
# Read CSV file

# file = '../../Data/EnergyCSV/CO2 emissions from fuel combus.csv'
# file = '../../Data/EnergyCSV/Total energy consumption.csv'
# file = '../../Data/EnergyCSV/Coal and lignite domestic cons.csv'
# file = '../../Data/EnergyCSV/Natural gas domestic consumpti.csv'
# file = '../../Data/EnergyCSV/Oil products domestic consumpt.csv'
# file = '../../Data/EnergyCSV/Electricity domestic consumpti.csv'
# file = '../../Data/EnergyCSV/Share of renewables in electri.csv'
# file = '../../Data/GDP_PercentageCSV/countries_gdp_location_short.csv'
file = '../../Data/GDP_PercentageCSV/bubble.csv'

In [28]:
# Create a dataframe from csv file data
# Transform and clean dataframe

df = pd.read_csv(file)

# transform steps are only needed for energy tables
###################################
# df = df.transpose()
# df = df.reset_index()
# df.columns = df.iloc[0]
# df = df.reindex(df.index.drop(0))
# df = df.rename(columns = {'Unnamed: 0':'Year'})
# df = df.reindex(df.index.drop(29))
# df = df.reindex(df.index.drop(30))
###################################

df.head()

   country  year  emissions continent  consumption           gdp
0  Algeria  1990      52.98    Africa           22  8.932503e+10
1  Algeria  1991      57.15    Africa           23  8.867477e+10
2  Algeria  1992      57.26    Africa           24  9.001360e+10
3  Algeria  1993      59.20    Africa           24  8.840571e+10
4  Algeria  1994      56.35    Africa           23  8.761240e+10

In [29]:
### Create a sqlite file from a dataframe

sql_data = 'energy_db.sqlite' #- Creates DB names SQLite
conn = sq.connect(sql_data)
cur = conn.cursor()

# - writes the pd.df to SQLIte DB
# df.to_sql('emissions', conn, if_exists='replace', index=True)
# df.to_sql('total_consumption', conn, if_exists='replace', index=True)
# df.to_sql('coal_consumption', conn, if_exists='replace', index=True)
# df.to_sql('ng_consumption', conn, if_exists='replace', index=True)
# df.to_sql('oil_consumption', conn, if_exists='replace', index=True)
# df.to_sql('electricity_consumption', conn, if_exists='replace', index=True)
# df.to_sql('electricity_renewables_share', conn, if_exists='replace', index=True)
# df.to_sql('gdp_table', conn, if_exists='replace', index=True)
df.to_sql('bubble_table', conn, if_exists='replace', index=True)

conn.commit()
conn.close()