In [1]:
import pandas as pd
import sqlalchemy
import sqlite3 as sq
# from db_key import user, password, port, database, host, url

In [2]:
# Set Heroku database credentials
user = 'cvkuzmyutihdti'
password = 'ccb658b9dbaa9f02508c213880d12db3c0025e92aea837baa7f5f11f60a073e0'
port = '5432'
database = 'd7drrt22cf3tcf'
host = 'ec2-23-21-91-183.compute-1.amazonaws.com'
url = 'postgres://'+user+':'+password+'@'+host+':'+port+'/'+database

engine = sqlalchemy.create_engine(url) # connect to server
con = engine.connect()

In [3]:
# Read CSV file

# file = 'countries_gdp_location.csv'
# file = '../../Data/GDP_PercentageCSV/countries_gdp_location.csv'
file = 'data_outputs/bubble2.csv'

In [4]:
# Create a dataframe from csv file data

df = pd.read_csv(file)
df.head()

   country  year  emissions continent  consumption           gdp
0  Algeria  1990      52.98    Africa           22  8.932503e+10
1  Algeria  1991      57.15    Africa           23  8.867477e+10
2  Algeria  1992      57.26    Africa           24  9.001360e+10
3  Algeria  1993      59.20    Africa           24  8.840571e+10
4  Algeria  1994      56.35    Africa           23  8.761240e+10

In [5]:
df.shape

(1204, 6)

In [6]:
# Upload dataframe to Postgres SQL table in Heroku database

df.to_sql(name="bubble_table", con = engine, if_exists = 'replace', index=False)