In [1]:
import pandas as pd
import sqlalchemy
import sqlite3 as sq
# from db_key import user, password, port, database, host, url

In [2]:
# Set Heroku database credentials
user = 'cvkuzmyuti****'
password = '*****8b9dbaa9f02508c213880d12db3c0025e92aea837baa7f5f11f60a*****'
port = '5432'
database = 'd7drrt22cf****'
host = 'ec2-23-21-91-183.compute-1.amazonaws.com'
url = 'postgres://'+user+':'+password+'@'+host+':'+port+'/'+database

engine = sqlalchemy.create_engine(url) # connect to server
con = engine.connect()

In [5]:
# Read CSV file

# file = 'countries_gdp_location.csv'
file = '../../Data/GDP_PercentageCSV/countries_gdp_location_short2.csv'

In [6]:
# Create a dataframe from csv file data

df = pd.read_csv(file)
df.head()

,Country,Year,Agriculture,Mining,Manufacturing,Construction,Wholesale,Transport,Other,Total,Alpha_2_code,Alpha_3_code,Numeric_code,Latitude_ave,Longitude_ave,Continent
0,Algeria,1990,4.931703e+09,4.421435e+10,5.373137e+09,5.451830e+09,7.216058e+09,5.395055e+09,1.674289e+10,8.932503e+10,DZ,DZA,12,28.0,3.0,Africa
1,Algeria,1991,5.691185e+09,4.370053e+10,5.335525e+09,5.385671e+09,7.020790e+09,5.249851e+09,1.629122e+10,8.867477e+10,DZ,DZA,12,28.0,3.0,Africa
2,Algeria,1992,5.952980e+09,4.394284e+10,5.036736e+09,5.440488e+09,7.287324e+09,5.452715e+09,1.690051e+10,9.001360e+10,DZ,DZA,12,28.0,3.0,Africa
3,Algeria,1993,5.732719e+09,4.329234e+10,4.971258e+09,5.354004e+09,7.142387e+09,5.334883e+09,1.657812e+10,8.840571e+10,DZ,DZA,12,28.0,3.0,Africa
4,Algeria,1994,5.216774e+09,4.246811e+10,4.752523e+09,5.256818e+09,7.352499e+09,5.500362e+09,1.706531e+10,8.761240e+10,DZ,DZA,12,28.0,3.0,Africa

In [7]:
df.shape

(1204, 16)

In [8]:
# Upload dataframe to Postgres SQL table in Heroku database

df.to_sql(name="gdp_table", con = engine, if_exists = 'replace', index=False)