In [5]:
import pandas as pd
import sqlalchemy
import sqlite3 as sq
# from db_key import user, password, port, database, host, url

In [6]:
# Set Heroku database credentials
user = 'cvkuzmyutihdti'
password = 'ccb658b9dbaa9f02508c213880d12db3c0025e92aea837baa7f5f11f60a073e0'
port = '5432'
database = 'd7drrt22cf3tcf'
host = 'ec2-23-21-91-183.compute-1.amazonaws.com'
url = 'postgres://'+user+':'+password+'@'+host+':'+port+'/'+database

engine = sqlalchemy.create_engine(url) # connect to server
con = engine.connect()

In [7]:
# Read CSV file

# file = 'CO2_emissions_from_fuel_combus.csv'
# file = 'Total_energy_consumption.csv'
# file = '../../Data/EnergyCSV/Natural gas domestic consumpti.csv'
# file = '../../Data/EnergyCSV/Electricity domestic consumpti.csv'
# file = '../../Data/EnergyCSV/Oil products domestic consumpt.csv'
# file = '../../Data/EnergyCSV/Share of renewables in electri.csv'


# ['GDP_Brazil.csv',
#  'GDP_China.csv',
#  'GDP_Germany.csv',
#  'GDP_Russia.csv',
#  'GDP_USA.csv']

file = 'BRA_RUS_GDP.csv'

In [10]:
# Create a dataframe from csv file data
# Transform and clean dataframe

df = pd.read_csv(file)
# df = df.transpose()
# df = df.reset_index()
# df.columns = df.iloc[0]
# df = df.reindex(df.index.drop(0))
# df = df.rename(columns = {'Unnamed: 0':'Year'})
# df = df.reindex(df.index.drop(29))
# df = df.reindex(df.index.drop(30))

# df = df.reindex(df.index.drop(30))
df.head()

,Country,Year,Agriculture,Mining,Manufacturing,Construction,Wholesale,Transport,Other_Activities
0,Russia,1990,16.514390,40.406481,27.106424,10.185404,6.586415,10.154423,16.152888
1,Russia,1991,13.899290,39.315884,27.141916,10.049997,13.354241,7.554527,15.826061
2,Russia,1992,7.039666,35.449034,23.563950,6.546845,30.759035,7.311437,12.893984
3,Russia,1993,7.992134,35.774140,23.787593,8.325141,20.401132,8.615901,18.891552
4,Russia,1994,6.363226,34.813792,22.726421,9.573648,19.766416,9.873497,19.609422

In [12]:
# Upload dataframe to Postgres SQL table in Heroku database

# df.to_sql(name="total_consumption", con = engine, if_exists = 'replace', index=False)
# df.to_sql(name="coal_consumption", con = engine, if_exists = 'replace', index=False)
# df.to_sql(name="ng_consumption", con = engine, if_exists = 'replace', index=False)
# df.to_sql(name="electricity_consumption", con = engine, if_exists = 'replace', index=False)
df.to_sql(name="gdp_test_table", con = engine, if_exists = 'replace', index=False)