In [1]:
import pandas as pd
import sqlalchemy
import sqlite3 as sq
# from db_key import user, password, port, database, host, url

In [2]:
# Set Heroku database credentials
user = 'cvkuzmyutihdti'
password = 'ccb658b9dbaa9f02508c213880d12db3c0025e92aea837baa7f5f11f60a073e0'
port = '5432'
database = 'd7drrt22cf3tcf'
host = 'ec2-23-21-91-183.compute-1.amazonaws.com'
url = 'postgres://'+user+':'+password+'@'+host+':'+port+'/'+database

engine = sqlalchemy.create_engine(url) # connect to server
con = engine.connect()

In [3]:
# Read CSV file

file = 'countries_gdp_location.csv'

In [4]:
# Create a dataframe from csv file data

df = pd.read_csv(file)
df.head()

,Country,Year,Agriculture,Mining,Manufacturing,Construction,Wholesale,Transport,Other,Total,Alpha_2_code,Alpha_3_code,Numeric_code,Latitude_ave,Longitude_ave
0,Afghanistan,1970,7.988266e+09,1.005687e+09,9.815076e+08,45953601.03,444123690.9,254353096.4,445922527.6,1.116581e+10,AF,AFG,4,33.0,65.0
1,Afghanistan,1971,7.682982e+09,1.053357e+09,1.028809e+09,45953601.03,403495351.6,231084930.1,405129631.1,1.085081e+10,AF,AFG,4,33.0,65.0
2,Afghanistan,1972,7.360738e+09,1.101897e+09,1.076111e+09,48372211.60,399290874.0,228676993.0,400908124.0,1.061599e+10,AF,AFG,4,33.0,65.0
3,Afghanistan,1973,7.903465e+09,1.152177e+09,1.123412e+09,55628043.34,476347278.0,272807795.7,478276630.0,1.146211e+10,AF,AFG,4,33.0,65.0
4,Afghanistan,1974,8.178457e+09,1.268854e+09,1.237176e+09,55628043.34,504645136.1,330676115.9,504847553.9,1.208028e+10,AF,AFG,4,33.0,65.0

In [5]:
df.shape

(8629, 15)

In [6]:
# Upload dataframe to Postgres SQL table in Heroku database

df.to_sql(name="gdp_table", con = engine, if_exists = 'replace', index=False)