In [1]:
import pandas as pd
import sqlalchemy
import sqlite3 as sq
# from db_key import user, password, port, database, host, url

In [2]:
# Set Heroku database credentials
user = 'cvkuzmyutihdti'
password = 'ccb658b9dbaa9f02508c213880d12db3c0025e92aea837baa7f5f11f60a073e0'
port = '5432'
database = 'd7drrt22cf3tcf'
host = 'ec2-23-21-91-183.compute-1.amazonaws.com'
url = 'postgres://'+user+':'+password+'@'+host+':'+port+'/'+database

engine = sqlalchemy.create_engine(url) # connect to server
con = engine.connect()

In [3]:
# Read CSV file

# file = 'CO2_emissions_from_fuel_combus.csv'
# file = 'Total_energy_consumption.csv'
# file = '../../Data/EnergyCSV/Natural gas domestic consumpti.csv'
# file = '../../Data/EnergyCSV/Electricity domestic consumpti.csv'
# file = '../../Data/EnergyCSV/Oil products domestic consumpt.csv'
# file = '../../Data/EnergyCSV/Share of renewables in electri.csv'


# ['GDP_Brazil.csv',
#  'GDP_China.csv',
#  'GDP_Germany.csv',
#  'GDP_Russia.csv',
#  'GDP_USA.csv']

file = 'gdp.csv'

In [4]:
# Create a dataframe from csv file data
# Transform and clean dataframe

df = pd.read_csv(file)
# df = df.transpose()
# df = df.reset_index()
# df.columns = df.iloc[0]
# df = df.reindex(df.index.drop(0))
# df = df.rename(columns = {'Unnamed: 0':'Year'})
# df = df.reindex(df.index.drop(29))
# df = df.reindex(df.index.drop(30))

# df = df.reindex(df.index.drop(30))
df.head()

,Country,Year,Agriculture,Mining,Manufacturing,Construction,Wholesale,Transport,Other
0,Belgium,1970,0.995886,14.678020,13.275497,6.967794,21.933298,9.903209,32.246297
1,Belgium,1971,1.007414,14.821518,13.266587,6.818231,22.352995,9.525750,32.207505
2,Belgium,1972,0.948038,15.246876,13.539575,6.536323,22.140643,9.174939,32.413606
3,Belgium,1973,0.917638,15.478973,13.738420,6.404547,21.978622,9.114016,32.367783
4,Belgium,1974,0.924165,15.518257,13.752614,6.494207,21.595018,9.468727,32.247012

In [5]:
# Upload dataframe to Postgres SQL table in Heroku database

# df.to_sql(name="total_consumption", con = engine, if_exists = 'replace', index=False)
# df.to_sql(name="coal_consumption", con = engine, if_exists = 'replace', index=False)
# df.to_sql(name="ng_consumption", con = engine, if_exists = 'replace', index=False)
# df.to_sql(name="electricity_consumption", con = engine, if_exists = 'replace', index=False)
df.to_sql(name="gdp_table", con = engine, if_exists = 'replace', index=False)