In [6]:
import pandas as pd
import quandl

In [7]:
# authtoken="Pjy4pjUdbZ7yRYkxkzj4"

In [8]:
#*******************************************************

In [9]:
tickers = pd.read_csv('ticker_list.csv')
tickers.head()

      Country Code        Q_Ticker
0     Belgium  BEL  UNAE/GVAKD_BEL
1  Czech Rep.  CZE  UNAE/GVAKD_CZE
2      France  FRA  UNAE/GVAKD_FRA
3     Germany  DEU  UNAE/GVAKD_DEU
4       Italy  ITA  UNAE/GVAKD_ITA

In [115]:
# tickers_short = tickers[:3]
# tickers_short

In [17]:
# Para iniciar el dataframe
# HAY QUE BORRAR ESTA LINEA DEL CSV
data = {'Country':['xxx'], 'Year':[0], 'Agriculture':[0], 'Mining':[0], 'Manufacturing':[0], 'Construction':[0], 'Wholesale':[0], 'Transport':[0], 'Other':[0], 'Total':[0]}
# data = {'Country', 'Year', 'Agriculture', 'Mining', 'Manufacturing', 'Construction', 'Wholesale', 'Transport', 'Other'}
gdp_df = pd.DataFrame(data)
gdp_df

,Country,Year,Agriculture,Mining,Manufacturing,Construction,Wholesale,Transport,Other,Total
0,xxx,0,0,0,0,0,0,0,0,0

In [117]:
# tickers_short.Q_Ticker[i]

In [108]:
# quandl.get(tickers_short.Q_Ticker[1],authtoken="Pjy4pjUdbZ7yRYkxkzj4")

In [19]:
# for ticker in tickers.Q_Ticker:
for i in range(len(tickers.Q_Ticker)):
    df = quandl.get(tickers.Q_Ticker[i],authtoken="Pjy4pjUdbZ7yRYkxkzj4")
    df = df.reset_index()
    df['Date'] = pd.DatetimeIndex(df['Date']).year
    df.columns = ["Year","Agriculture","Mining","Manufacturing","Construction","Wholesale","Transport","Other","Total"]
    df['Country'] = tickers.Country[i]
    
    new_df = df[['Country'] + [col for col in df.columns if col != 'Country']]
#     new_df['Total'] = new_df.loc[:,'Agriculture':'Other'].sum(axis=1)
#     pct_df=new_df.loc[:,"Agriculture":"Total"].div(new_df["Total"], axis=0)*100
    
#     final_df = pd.DataFrame([new_df['Country'],new_df['Year'],pct_df["Agriculture"],pct_df["Mining"],pct_df["Manufacturing"],pct_df["Construction"],pct_df["Wholesale"],pct_df["Transport"],pct_df["Other"]])
#     final_df = final_df.transpose()
    
#     gdp_df = pd.concat([gdp_df,final_df], axis=0)
    gdp_df = pd.concat([gdp_df,new_df], axis=0)

In [20]:
gdp_df.shape

(1965, 10)

In [21]:
gdp_df.head()

,Country,Year,Agriculture,Mining,Manufacturing,Construction,Wholesale,Transport,Other,Total
0,xxx,0,0.000000e+00,0.000000e+00,0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
0,Belgium,1970,1.871867e+09,2.758882e+10,2.49526e+10,1.309667e+10,4.122585e+10,1.861408e+10,6.061017e+10,1.626366e+11
1,Belgium,1971,1.970673e+09,2.899341e+10,2.59517e+10,1.333762e+10,4.372626e+10,1.863399e+10,6.300335e+10,1.693548e+11
2,Belgium,1972,1.960046e+09,3.152257e+10,2.79928e+10,1.351370e+10,4.577527e+10,1.896898e+10,6.701439e+10,1.784529e+11
3,Belgium,1973,2.035729e+09,3.433925e+10,3.04779e+10,1.420814e+10,4.875836e+10,2.021894e+10,7.180614e+10,1.910200e+11

In [22]:
gdp_df.to_csv('out_2.csv')