In [1]:
import pandas as pd
import quandl

In [3]:
# quandl.get("UNAE/GVAKD_URY", authtoken="Pjy4pjUdbZ7yRYkxkzj4")
#quandl.get("UNAE/GVAKD_URY")

,Agriculture; hunting; forestry; fishing (ISIC A-B),Mining; Manufacturing; Utilities (ISIC C-E),Manufacturing (ISIC D),Construction (ISIC F),Wholesale; retail trade; restaurants and hotels (ISIC G-H),Transport; storage and communication (ISIC I),Other Activities (ISIC J-P),Total Value Added
Date,,,,,,,,
1970-12-31,1.913328e+09,3.565878e+09,3.070572e+09,1.416878e+09,2.065293e+09,3.109527e+08,7.419147e+09,1.556785e+10
1971-12-31,1.793035e+09,3.606533e+09,3.091820e+09,1.507757e+09,2.011468e+09,3.178627e+08,7.794902e+09,1.584174e+10
1972-12-31,1.605113e+09,3.659907e+09,3.136136e+09,1.487102e+09,1.971564e+09,3.073929e+08,7.859794e+09,1.570404e+10
1973-12-31,1.647007e+09,3.646334e+09,3.111853e+09,1.233056e+09,1.980844e+09,3.096963e+08,7.636861e+09,1.536936e+10
1974-12-31,1.700869e+09,3.700886e+09,3.178631e+09,1.350785e+09,2.066685e+09,3.147218e+08,7.675147e+09,1.569305e+10
1975-12-31,1.796027e+09,3.938275e+09,3.378358e+09,1.809308e+09,2.135358e+09,3.272855e+08,8.209299e+09,1.691271e+10
1976-12-31,1.830140e+09,4.033236e+09,3.465169e+09,2.042700e+09,2.244400e+09,3.484345e+08,8.491080e+09,1.760648e+10
1977-12-31,1.888791e+09,4.259736e+09,3.652755e+09,2.096401e+09,2.295904e+09,3.584855e+08,8.032006e+09,1.762839e+10
1978-12-31,1.763111e+09,4.515802e+09,3.863409e+09,2.738747e+09,2.435106e+09,3.578573e+08,8.475471e+09,1.876924e+10
1979-12-31,1.755331e+09,4.833253e+09,4.139020e+09,3.077476e+09,2.656901e+09,3.947110e+08,8.720054e+09,1.985468e+10
1980-12-31,2.039607e+09,4.982246e+09,4.237365e+09,3.193139e+09,2.883337e+09,4.273767e+08,8.982730e+09,2.087686e+10
1981-12-31,2.152120e+09,4.803615e+09,4.044316e+09,3.290214e+09,2.942265e+09,4.240264e+08,9.483223e+09,2.133435e+10
1982-12-31,1.994123e+09,4.076326e+09,3.360753e+09,3.191074e+09,2.349265e+09,3.773311e+08,9.624315e+09,1.975836e+10
1983-12-31,2.036016e+09,3.830378e+09,3.125209e+09,2.119121e+09,2.130254e+09,3.595325e+08,9.331563e+09,1.824603e+10
1984-12-31,1.774768e+09,3.963696e+09,3.265187e+09,1.840595e+09,2.262021e+09,3.393680e+08,9.143839e+09,1.788241e+10
1985-12-31,1.997557e+09,3.916686e+09,3.214171e+09,1.320094e+09,2.385785e+09,3.560709e+08,9.350736e+09,1.799073e+10
1986-12-31,1.947490e+09,4.339610e+09,3.591383e+09,1.366562e+09,2.606261e+09,4.079272e+08,9.865849e+09,1.919277e+10
1987-12-31,2.036449e+09,4.787998e+09,3.946108e+09,1.687590e+09,2.806561e+09,4.300073e+08,1.054234e+10,2.080516e+10
1988-12-31,2.004313e+09,4.792965e+09,3.911746e+09,1.800927e+09,2.761925e+09,4.514825e+08,1.070800e+10,2.100018e+10
1989-12-31,2.073523e+09,4.719978e+09,3.904227e+09,1.840028e+09,2.736676e+09,4.894925e+08,1.113615e+10,2.142427e+10
1990-12-31,2.102021e+09,4.720303e+09,3.847308e+09,1.620438e+09,2.735774e+09,5.041117e+08,1.137954e+10,2.152338e+10
1991-12-31,2.123936e+09,4.764851e+09,3.827211e+09,1.732925e+09,2.971242e+09,5.384585e+08,1.132840e+10,2.194006e+10
1992-12-31,2.356079e+09,4.937516e+09,3.885957e+09,2.210074e+09,3.392806e+09,6.183771e+08,1.176738e+10,2.364606e+10
1993-12-31,2.217486e+09,4.566136e+09,3.534604e+09,2.606754e+09,3.967667e+09,6.990349e+08,1.182667e+10,2.421191e+10
1994-12-31,2.425375e+09,4.697442e+09,3.682172e+09,2.805094e+09,4.407267e+09,8.301040e+08,1.189908e+10,2.546090e+10
1995-12-31,2.607279e+09,4.651780e+09,3.576767e+09,2.521751e+09,3.978939e+09,8.805152e+08,1.191983e+10,2.505189e+10
1996-12-31,2.858478e+09,4.852184e+09,3.724335e+09,2.482367e+09,4.219479e+09,9.410086e+08,1.233757e+10,2.618595e+10
1997-12-31,2.685237e+09,5.147471e+09,3.935146e+09,2.541018e+09,4.591222e+09,1.008223e+09,1.297065e+10,2.743243e+10
1998-12-31,2.790838e+09,5.262240e+09,3.956094e+09,2.803841e+09,4.885840e+09,1.100892e+09,1.353113e+10,2.880181e+10
1999-12-31,2.660033e+09,4.987239e+09,3.775006e+09,2.876019e+09,4.668445e+09,1.161377e+09,1.348058e+10,2.829687e+10
2000-12-31,2.570097e+09,4.897903e+09,3.636588e+09,2.643103e+09,4.405437e+09,1.161402e+09,1.362830e+10,2.780389e+10
2001-12-31,2.356743e+09,4.712914e+09,3.389721e+09,2.421340e+09,4.162768e+09,1.113948e+09,1.360957e+10,2.688966e+10
2002-12-31,2.411127e+09,4.445864e+09,3.197012e+09,1.980108e+09,3.424169e+09,9.953682e+08,1.301086e+10,2.483551e+10
2003-12-31,2.643294e+09,4.556480e+09,3.353030e+09,1.921749e+09,3.295371e+09,1.006423e+09,1.268779e+10,2.474266e+10
2004-12-31,2.859751e+09,4.685549e+09,3.603807e+09,2.048442e+09,3.582536e+09,1.095876e+09,1.288464e+10,2.580999e+10
2005-12-31,2.950925e+09,5.284195e+09,4.113963e+09,2.348516e+09,3.843474e+09,1.279001e+09,1.314949e+10,2.760814e+10
2006-12-31,3.106183e+09,5.270930e+09,4.311280e+09,2.514058e+09,4.020037e+09,1.421260e+09,1.325953e+10,2.841522e+10
2007-12-31,2.789508e+09,5.989798e+09,4.669277e+09,2.748994e+09,4.370110e+09,1.650149e+09,1.366719e+10,3.022312e+10
2008-12-31,2.848994e+09,5.871003e+09,5.049193e+09,2.821606e+09,4.889212e+09,2.156115e+09,1.428802e+10,3.227002e+10
2009-12-31,2.944189e+09,6.234229e+09,5.313853e+09,2.896615e+09,4.934964e+09,2.476985e+09,1.467832e+10,3.381704e+10
2010-12-31,2.901316e+09,6.914120e+09,5.449798e+09,2.967156e+09,5.508325e+09,2.848558e+09,1.510664e+10,3.624611e+10
2011-12-31,3.284900e+09,6.738083e+09,5.557543e+09,3.039566e+09,5.895283e+09,3.153172e+09,1.579489e+10,3.804717e+10
2012-12-31,3.259178e+09,6.331152e+09,5.338021e+09,3.535172e+09,6.227851e+09,3.469489e+09,1.635000e+10,3.939103e+10
2013-12-31,3.323768e+09,6.740154e+09,5.401978e+09,3.566590e+09,6.727887e+09,3.710326e+09,1.690924e+10,4.137405e+10
2014-12-31,3.332678e+09,7.112829e+09,5.628050e+09,3.592210e+09,6.689666e+09,3.984806e+09,1.747538e+10,4.278490e+10
2015-12-31,3.291029e+09,7.308683e+09,5.903724e+09,3.374665e+09,6.421866e+09,4.178048e+09,1.774145e+10,4.313326e+10
2016-12-31,3.374745e+09,7.470401e+09,5.946562e+09,3.288142e+09,6.241451e+09,4.518302e+09,1.779285e+10,4.385914e+10
2017-12-31,3.350936e+09,7.239351e+09,5.736126e+09,3.091418e+09,6.708237e+09,4.903860e+09,1.764971e+10,4.457666e+10

In [2]:
BRA_df = quandl.get("UNAE/GVACD_BRA")

In [7]:
BRA_df.head()

,Agriculture; hunting; forestry; fishing (ISIC A-B),Mining; Manufacturing; Utilities (ISIC C-E),Manufacturing (ISIC D),Construction (ISIC F),Wholesale; retail trade; restaurants and hotels (ISIC G-H),Transport; storage and communication (ISIC I),Other Activities (ISIC J-P),Total Value Added
Date,,,,,,,,
1970-12-31,3.652180e+09,9.623444e+09,8.672670e+09,1.705357e+09,5.186498e+09,1.363279e+09,1.008625e+10,3.162204e+10
1971-12-31,4.370208e+09,1.104351e+10,9.937852e+09,1.966593e+09,5.620087e+09,1.503351e+09,1.141061e+10,3.591000e+10
1972-12-31,5.638717e+09,1.436938e+10,1.309600e+10,2.659699e+09,7.005561e+09,1.954859e+09,1.440054e+10,4.603654e+10
1973-12-31,7.819866e+09,2.213177e+10,2.046066e+10,3.840147e+09,1.016620e+10,2.565127e+09,1.907248e+10,6.559936e+10
1974-12-31,9.797979e+09,2.946541e+10,2.714779e+10,5.224001e+09,1.305830e+10,3.406661e+09,2.471786e+10,8.566680e+10

In [5]:
BRA_2_df = quandl.get("UNAE/GVAKD_BRA")

In [8]:
BRA_2_df.head()

,Agriculture; hunting; forestry; fishing (ISIC A-B),Mining; Manufacturing; Utilities (ISIC C-E),Manufacturing (ISIC D),Construction (ISIC F),Wholesale; retail trade; restaurants and hotels (ISIC G-H),Transport; storage and communication (ISIC I),Other Activities (ISIC J-P),Total Value Added
Date,,,,,,,,
1970-12-31,2.157553e+10,9.730459e+10,7.275022e+10,2.684677e+10,4.672263e+10,2.399507e+10,1.512378e+11,3.639299e+11
1971-12-31,2.377624e+10,1.087866e+11,8.133496e+10,3.001461e+10,5.195554e+10,2.668248e+10,1.681765e+11,4.051567e+11
1972-12-31,2.472729e+10,1.242340e+11,9.288418e+10,3.427700e+10,5.839793e+10,2.999095e+10,1.890306e+11,4.557835e+11
1973-12-31,2.475202e+10,1.453533e+11,1.086738e+11,4.010450e+10,6.750798e+10,3.466948e+10,2.185194e+11,5.253258e+11
1974-12-31,2.507379e+10,1.577085e+11,1.179112e+11,4.351330e+10,7.466413e+10,3.834501e+10,2.416817e+11,5.753985e+11

In [9]:
BRA_2_df.describe()

,Agriculture; hunting; forestry; fishing (ISIC A-B),Mining; Manufacturing; Utilities (ISIC C-E),Manufacturing (ISIC D),Construction (ISIC F),Wholesale; retail trade; restaurants and hotels (ISIC G-H),Transport; storage and communication (ISIC I),Other Activities (ISIC J-P),Total Value Added
count,4.800000e+01,4.800000e+01,4.800000e+01,4.800000e+01,4.800000e+01,4.800000e+01,4.800000e+01,4.800000e+01
mean,5.696842e+10,2.729176e+11,1.986851e+11,7.760964e+10,1.700785e+11,9.304921e+10,5.422238e+11,1.210501e+12
std,2.608904e+10,8.305836e+10,5.632510e+10,2.777746e+10,7.319906e+10,4.448698e+10,2.237973e+11,4.776210e+11
min,2.157553e+10,9.730459e+10,7.275022e+10,2.684677e+10,4.672263e+10,2.399507e+10,1.512378e+11,3.639299e+11
25%,3.683686e+10,2.156053e+11,1.612074e+11,5.949329e+10,1.140187e+11,5.855187e+10,3.690906e+11,8.463804e+11
50%,4.880553e+10,2.678109e+11,2.008700e+11,7.342608e+10,1.626379e+11,8.322090e+10,5.236993e+11,1.151361e+12
75%,7.834912e+10,3.413244e+11,2.411096e+11,8.527952e+10,2.172207e+11,1.239902e+11,7.020252e+11,1.553894e+12
max,1.071098e+11,4.083525e+11,2.889374e+11,1.372850e+11,3.032845e+11,1.773869e+11,9.229713e+11,2.040560e+12

In [10]:
RUS_df = quandl.get("UNAE/GVAKD_RUS")

In [13]:
RUS_df.shape

(28, 8)

In [14]:
RUS_df.head()

,Agriculture; hunting; forestry; fishing (ISIC A-B),Mining; Manufacturing; Utilities (ISIC C-E),Manufacturing (ISIC D),Construction (ISIC F),Wholesale; retail trade; restaurants and hotels (ISIC G-H),Transport; storage and communication (ISIC I),Other Activities (ISIC J-P),Total Value Added
Date,,,,,,,,
1990-12-31,6.644247e+10,4.726896e+11,2.444101e+11,1.202085e+11,1.388710e+11,1.383119e+11,3.020482e+11,1.226269e+12
1991-12-31,6.398072e+10,4.457487e+11,2.304832e+11,1.057874e+11,1.341787e+11,1.303391e+11,3.048563e+11,1.175323e+12
1992-12-31,5.822287e+10,3.659156e+11,1.892012e+11,7.087659e+10,1.277053e+11,1.093772e+11,2.872629e+11,1.012969e+12
1993-12-31,5.589396e+10,3.131072e+11,1.618938e+11,6.520645e+10,1.237465e+11,8.734320e+10,2.924582e+11,9.401008e+11
1994-12-31,4.929516e+10,2.503759e+11,1.294673e+11,5.281723e+10,1.236227e+11,7.327257e+10,2.629838e+11,8.156882e+11

In [19]:
RUS_df.iloc[0]

Agriculture; hunting; forestry; fishing (ISIC A-B)            6.644247e+10
Mining; Manufacturing; Utilities (ISIC C-E)                   4.726896e+11
Manufacturing (ISIC D)                                        2.444101e+11
Construction (ISIC F)                                         1.202085e+11
Wholesale; retail trade; restaurants and hotels (ISIC G-H)    1.388710e+11
Transport; storage and communication (ISIC I)                 1.383119e+11
Other Activities (ISIC J-P)                                   3.020482e+11
Total Value Added                                             1.226269e+12
Name: 1990-12-31 00:00:00, dtype: float64

In [22]:
a=RUS_df.iloc[0]

In [26]:
b = a/sum(a[:-1])

In [27]:
b

Agriculture; hunting; forestry; fishing (ISIC A-B)            0.044803
Mining; Manufacturing; Utilities (ISIC C-E)                   0.318743
Manufacturing (ISIC D)                                        0.164810
Construction (ISIC F)                                         0.081059
Wholesale; retail trade; restaurants and hotels (ISIC G-H)    0.093643
Transport; storage and communication (ISIC I)                 0.093266
Other Activities (ISIC J-P)                                   0.203676
Total Value Added                                             0.826894
Name: 1990-12-31 00:00:00, dtype: float64

In [28]:
sum(b[:-1])

0.9999999999999999

In [30]:
a_BRA=BRA_2_df.iloc[0]
a_BRA

Agriculture; hunting; forestry; fishing (ISIC A-B)            2.157553e+10
Mining; Manufacturing; Utilities (ISIC C-E)                   9.730459e+10
Manufacturing (ISIC D)                                        7.275022e+10
Construction (ISIC F)                                         2.684677e+10
Wholesale; retail trade; restaurants and hotels (ISIC G-H)    4.672263e+10
Transport; storage and communication (ISIC I)                 2.399507e+10
Other Activities (ISIC J-P)                                   1.512378e+11
Total Value Added                                             3.639299e+11
Name: 1970-12-31 00:00:00, dtype: float64

In [32]:
b_BRA = a_BRA/sum(a_BRA[:-1])
b_BRA

Agriculture; hunting; forestry; fishing (ISIC A-B)            0.048987
Mining; Manufacturing; Utilities (ISIC C-E)                   0.220930
Manufacturing (ISIC D)                                        0.165179
Construction (ISIC F)                                         0.060955
Wholesale; retail trade; restaurants and hotels (ISIC G-H)    0.106083
Transport; storage and communication (ISIC I)                 0.054481
Other Activities (ISIC J-P)                                   0.343385
Total Value Added                                             0.826301
Name: 1970-12-31 00:00:00, dtype: float64

In [40]:
test_df = quandl.get(["UNAE/GVACD_BRA", "UNAE/GVAKD_RUS"],authtoken="Pjy4pjUdbZ7yRYkxkzj4")
# test_df = quandl.get("UNAE/GVACD_BRA")

In [41]:
test_df.head()

,UNAE/GVACD_BRA - Agriculture; hunting; forestry; fishing (ISIC A-B),UNAE/GVACD_BRA - Mining; Manufacturing; Utilities (ISIC C-E),UNAE/GVACD_BRA - Manufacturing (ISIC D),UNAE/GVACD_BRA - Construction (ISIC F),UNAE/GVACD_BRA - Wholesale; retail trade; restaurants and hotels (ISIC G-H),UNAE/GVACD_BRA - Transport; storage and communication (ISIC I),UNAE/GVACD_BRA - Other Activities (ISIC J-P),UNAE/GVACD_BRA - Total Value Added,UNAE/GVAKD_RUS - Agriculture; hunting; forestry; fishing (ISIC A-B),UNAE/GVAKD_RUS - Mining; Manufacturing; Utilities (ISIC C-E),UNAE/GVAKD_RUS - Manufacturing (ISIC D),UNAE/GVAKD_RUS - Construction (ISIC F),UNAE/GVAKD_RUS - Wholesale; retail trade; restaurants and hotels (ISIC G-H),UNAE/GVAKD_RUS - Transport; storage and communication (ISIC I),UNAE/GVAKD_RUS - Other Activities (ISIC J-P),UNAE/GVAKD_RUS - Total Value Added
Date,,,,,,,,,,,,,,,,
1970-12-31,3.652180e+09,9.623444e+09,8.672670e+09,1.705357e+09,5.186498e+09,1.363279e+09,1.008625e+10,3.162204e+10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1971-12-31,4.370208e+09,1.104351e+10,9.937852e+09,1.966593e+09,5.620087e+09,1.503351e+09,1.141061e+10,3.591000e+10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1972-12-31,5.638717e+09,1.436938e+10,1.309600e+10,2.659699e+09,7.005561e+09,1.954859e+09,1.440054e+10,4.603654e+10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1973-12-31,7.819866e+09,2.213177e+10,2.046066e+10,3.840147e+09,1.016620e+10,2.565127e+09,1.907248e+10,6.559936e+10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1974-12-31,9.797979e+09,2.946541e+10,2.714779e+10,5.224001e+09,1.305830e+10,3.406661e+09,2.471786e+10,8.566680e+10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
authtoken="Pjy4pjUdbZ7yRYkxkzj4"

In [42]:
#*******************************************************

In [67]:
tickers = pd.read_csv('ticker_list.csv')
tickers.head()

      Country  Code         Q_Ticker
0       World  5001  UNAE/GVAKD_5001
1     Belgium   BEL   UNAE/GVAKD_BEL
2  Czech Rep.   CZE   UNAE/GVAKD_CZE
3      France   FRA   UNAE/GVAKD_FRA
4     Germany   DEU   UNAE/GVAKD_DEU

In [70]:
tickers.Country[16]

'Russia'

In [43]:
RUS_df.head()

,Agriculture; hunting; forestry; fishing (ISIC A-B),Mining; Manufacturing; Utilities (ISIC C-E),Manufacturing (ISIC D),Construction (ISIC F),Wholesale; retail trade; restaurants and hotels (ISIC G-H),Transport; storage and communication (ISIC I),Other Activities (ISIC J-P),Total Value Added
Date,,,,,,,,
1990-12-31,6.644247e+10,4.726896e+11,2.444101e+11,1.202085e+11,1.388710e+11,1.383119e+11,3.020482e+11,1.226269e+12
1991-12-31,6.398072e+10,4.457487e+11,2.304832e+11,1.057874e+11,1.341787e+11,1.303391e+11,3.048563e+11,1.175323e+12
1992-12-31,5.822287e+10,3.659156e+11,1.892012e+11,7.087659e+10,1.277053e+11,1.093772e+11,2.872629e+11,1.012969e+12
1993-12-31,5.589396e+10,3.131072e+11,1.618938e+11,6.520645e+10,1.237465e+11,8.734320e+10,2.924582e+11,9.401008e+11
1994-12-31,4.929516e+10,2.503759e+11,1.294673e+11,5.281723e+10,1.236227e+11,7.327257e+10,2.629838e+11,8.156882e+11

In [61]:
a=RUS_df.reset_index()
a.head()

,Date,Agriculture; hunting; forestry; fishing (ISIC A-B),Mining; Manufacturing; Utilities (ISIC C-E),Manufacturing (ISIC D),Construction (ISIC F),Wholesale; retail trade; restaurants and hotels (ISIC G-H),Transport; storage and communication (ISIC I),Other Activities (ISIC J-P),Total Value Added
0,1990-12-31,6.644247e+10,4.726896e+11,2.444101e+11,1.202085e+11,1.388710e+11,1.383119e+11,3.020482e+11,1.226269e+12
1,1991-12-31,6.398072e+10,4.457487e+11,2.304832e+11,1.057874e+11,1.341787e+11,1.303391e+11,3.048563e+11,1.175323e+12
2,1992-12-31,5.822287e+10,3.659156e+11,1.892012e+11,7.087659e+10,1.277053e+11,1.093772e+11,2.872629e+11,1.012969e+12
3,1993-12-31,5.589396e+10,3.131072e+11,1.618938e+11,6.520645e+10,1.237465e+11,8.734320e+10,2.924582e+11,9.401008e+11
4,1994-12-31,4.929516e+10,2.503759e+11,1.294673e+11,5.281723e+10,1.236227e+11,7.327257e+10,2.629838e+11,8.156882e+11

In [50]:
# a['Date'] = a['Date']
pd.year[a['Date']]

AttributeError: module 'pandas' has no attribute 'year'

In [51]:
a.dtypes

Date                                                          datetime64[ns]
Agriculture; hunting; forestry; fishing (ISIC A-B)                   float64
Mining; Manufacturing; Utilities (ISIC C-E)                          float64
Manufacturing (ISIC D)                                               float64
Construction (ISIC F)                                                float64
Wholesale; retail trade; restaurants and hotels (ISIC G-H)           float64
Transport; storage and communication (ISIC I)                        float64
Other Activities (ISIC J-P)                                          float64
Total Value Added                                                    float64
dtype: object

In [54]:
a['Date'].year()

AttributeError: 'Series' object has no attribute 'year'

In [63]:
a['Date'] = pd.DatetimeIndex(a['Date']).year

In [64]:
a.head()

,Date,Agriculture; hunting; forestry; fishing (ISIC A-B),Mining; Manufacturing; Utilities (ISIC C-E),Manufacturing (ISIC D),Construction (ISIC F),Wholesale; retail trade; restaurants and hotels (ISIC G-H),Transport; storage and communication (ISIC I),Other Activities (ISIC J-P),Total Value Added
0,1990,6.644247e+10,4.726896e+11,2.444101e+11,1.202085e+11,1.388710e+11,1.383119e+11,3.020482e+11,1.226269e+12
1,1991,6.398072e+10,4.457487e+11,2.304832e+11,1.057874e+11,1.341787e+11,1.303391e+11,3.048563e+11,1.175323e+12
2,1992,5.822287e+10,3.659156e+11,1.892012e+11,7.087659e+10,1.277053e+11,1.093772e+11,2.872629e+11,1.012969e+12
3,1993,5.589396e+10,3.131072e+11,1.618938e+11,6.520645e+10,1.237465e+11,8.734320e+10,2.924582e+11,9.401008e+11
4,1994,4.929516e+10,2.503759e+11,1.294673e+11,5.281723e+10,1.236227e+11,7.327257e+10,2.629838e+11,8.156882e+11

In [65]:
#Reaname columns
a.columns =["Year","Agriculture","Mining","Manufacturing","Construction","Wholesale","Transport","Other","Total"]
a.head()

,Year,Agriculture,Mining,Manufacturing,Construction,Wholesale,Transport,Other,Total
0,1990,6.644247e+10,4.726896e+11,2.444101e+11,1.202085e+11,1.388710e+11,1.383119e+11,3.020482e+11,1.226269e+12
1,1991,6.398072e+10,4.457487e+11,2.304832e+11,1.057874e+11,1.341787e+11,1.303391e+11,3.048563e+11,1.175323e+12
2,1992,5.822287e+10,3.659156e+11,1.892012e+11,7.087659e+10,1.277053e+11,1.093772e+11,2.872629e+11,1.012969e+12
3,1993,5.589396e+10,3.131072e+11,1.618938e+11,6.520645e+10,1.237465e+11,8.734320e+10,2.924582e+11,9.401008e+11
4,1994,4.929516e+10,2.503759e+11,1.294673e+11,5.281723e+10,1.236227e+11,7.327257e+10,2.629838e+11,8.156882e+11

In [71]:
# tickers.Country[16]
a['Country'] = tickers.Country[16]
a.head()

,Year,Agriculture,Mining,Manufacturing,Construction,Wholesale,Transport,Other,Total,Country
0,1990,6.644247e+10,4.726896e+11,2.444101e+11,1.202085e+11,1.388710e+11,1.383119e+11,3.020482e+11,1.226269e+12,Russia
1,1991,6.398072e+10,4.457487e+11,2.304832e+11,1.057874e+11,1.341787e+11,1.303391e+11,3.048563e+11,1.175323e+12,Russia
2,1992,5.822287e+10,3.659156e+11,1.892012e+11,7.087659e+10,1.277053e+11,1.093772e+11,2.872629e+11,1.012969e+12,Russia
3,1993,5.589396e+10,3.131072e+11,1.618938e+11,6.520645e+10,1.237465e+11,8.734320e+10,2.924582e+11,9.401008e+11,Russia
4,1994,4.929516e+10,2.503759e+11,1.294673e+11,5.281723e+10,1.236227e+11,7.327257e+10,2.629838e+11,8.156882e+11,Russia

In [79]:
# Calculate Total column
a['Total'] = a.loc[:,'Agriculture':'Other'].sum(axis=1)

In [102]:
a.head()

,Year,Agriculture,Mining,Manufacturing,Construction,Wholesale,Transport,Other,Total,Country
0,1990,6.644247e+10,4.726896e+11,2.444101e+11,1.202085e+11,1.388710e+11,1.383119e+11,3.020482e+11,1.482982e+12,Russia
1,1991,6.398072e+10,4.457487e+11,2.304832e+11,1.057874e+11,1.341787e+11,1.303391e+11,3.048563e+11,1.415374e+12,Russia
2,1992,5.822287e+10,3.659156e+11,1.892012e+11,7.087659e+10,1.277053e+11,1.093772e+11,2.872629e+11,1.208562e+12,Russia
3,1993,5.589396e+10,3.131072e+11,1.618938e+11,6.520645e+10,1.237465e+11,8.734320e+10,2.924582e+11,1.099649e+12,Russia
4,1994,4.929516e+10,2.503759e+11,1.294673e+11,5.281723e+10,1.236227e+11,7.327257e+10,2.629838e+11,9.418346e+11,Russia

In [99]:
#Create new df with desired column order
aa = a[ ['Country'] + [ col for col in a.columns if col != 'Country' ] ]

In [104]:
aa.head()

,Country,Year,Agriculture,Mining,Manufacturing,Construction,Wholesale,Transport,Other,Total
0,Russia,1990,6.644247e+10,4.726896e+11,2.444101e+11,1.202085e+11,1.388710e+11,1.383119e+11,3.020482e+11,1.482982e+12
1,Russia,1991,6.398072e+10,4.457487e+11,2.304832e+11,1.057874e+11,1.341787e+11,1.303391e+11,3.048563e+11,1.415374e+12
2,Russia,1992,5.822287e+10,3.659156e+11,1.892012e+11,7.087659e+10,1.277053e+11,1.093772e+11,2.872629e+11,1.208562e+12
3,Russia,1993,5.589396e+10,3.131072e+11,1.618938e+11,6.520645e+10,1.237465e+11,8.734320e+10,2.924582e+11,1.099649e+12
4,Russia,1994,4.929516e+10,2.503759e+11,1.294673e+11,5.281723e+10,1.236227e+11,7.327257e+10,2.629838e+11,9.418346e+11

In [ ]:
df_new = df.loc[:,"value1":"value3"].div(df["sum"], axis=0)

In [111]:
aaa = aa[['Country']+aa['Year']+aa.loc[:,'Agriculture':'Total'].div(aa['Total'],axis=0)]

AssertionError: <class 'list'>

In [109]:
aa.head()

,Country,Year,Agriculture,Mining,Manufacturing,Construction,Wholesale,Transport,Other,Total
0,Russia,1990,6.644247e+10,4.726896e+11,2.444101e+11,1.202085e+11,1.388710e+11,1.383119e+11,3.020482e+11,1.482982e+12
1,Russia,1991,6.398072e+10,4.457487e+11,2.304832e+11,1.057874e+11,1.341787e+11,1.303391e+11,3.048563e+11,1.415374e+12
2,Russia,1992,5.822287e+10,3.659156e+11,1.892012e+11,7.087659e+10,1.277053e+11,1.093772e+11,2.872629e+11,1.208562e+12
3,Russia,1993,5.589396e+10,3.131072e+11,1.618938e+11,6.520645e+10,1.237465e+11,8.734320e+10,2.924582e+11,1.099649e+12
4,Russia,1994,4.929516e+10,2.503759e+11,1.294673e+11,5.281723e+10,1.236227e+11,7.327257e+10,2.629838e+11,9.418346e+11