In [1]:
import pandas as pd
import quandl

In [ ]:
# authtoken="Pjy4pjUdbZ7yRYkxkzj4"

In [42]:
#*******************************************************

In [2]:
tickers = pd.read_csv('ticker_list.csv')
tickers.head()

      Country Code        Q_Ticker
0     Belgium  BEL  UNAE/GVAKD_BEL
1  Czech Rep.  CZE  UNAE/GVAKD_CZE
2      France  FRA  UNAE/GVAKD_FRA
3     Germany  DEU  UNAE/GVAKD_DEU
4       Italy  ITA  UNAE/GVAKD_ITA

In [115]:
# tickers_short = tickers[:3]
# tickers_short

In [3]:
data = {'Country':['xxx'], 'Year':[0], 'Agriculture':[0], 'Mining':[0], 'Manufacturing':[0], 'Construction':[0], 'Wholesale':[0], 'Transport':[0], 'Other':[0]}

gdp_df = pd.DataFrame(data)
gdp_df

,Country,Year,Agriculture,Mining,Manufacturing,Construction,Wholesale,Transport,Other
0,xxx,0,0,0,0,0,0,0,0

In [117]:
# tickers_short.Q_Ticker[i]

In [108]:
# quandl.get(tickers_short.Q_Ticker[1],authtoken="Pjy4pjUdbZ7yRYkxkzj4")

In [7]:
# for ticker in tickers.Q_Ticker:
for i in range(len(tickers.Q_Ticker)):
#     print(i)
    df = quandl.get(tickers.Q_Ticker[i],authtoken="Pjy4pjUdbZ7yRYkxkzj4")
#     print('hi')
#     tickers_short.Q_Ticker[i]
    df = df.reset_index()
    df['Date'] = pd.DatetimeIndex(df['Date']).year
    df.columns = ["Year","Agriculture","Mining","Manufacturing","Construction","Wholesale","Transport","Other","Total"]
    df['Country'] = tickers.Country[i]
    
    new_df = df[['Country'] + [col for col in df.columns if col != 'Country']]
    new_df['Total'] = new_df.loc[:,'Agriculture':'Other'].sum(axis=1)
    pct_df=new_df.loc[:,"Agriculture":"Total"].div(new_df["Total"], axis=0)*100
    
    final_df = pd.DataFrame([new_df['Country'],new_df['Year'],pct_df["Agriculture"],pct_df["Mining"],pct_df["Manufacturing"],pct_df["Construction"],pct_df["Wholesale"],pct_df["Transport"],pct_df["Other"]])
    final_df = final_df.transpose()
    
    gdp_df = pd.concat([gdp_df,final_df], axis=0)

In [8]:
gdp_df.shape

(1965, 9)

In [10]:
gdp_df.head()

,Country,Year,Agriculture,Mining,Manufacturing,Construction,Wholesale,Transport,Other
0,xxx,0,0,0,0,0,0,0,0
0,Belgium,1970,0.995886,14.678,13.2755,6.96779,21.9333,9.90321,32.2463
1,Belgium,1971,1.00741,14.8215,13.2666,6.81823,22.353,9.52575,32.2075
2,Belgium,1972,0.948038,15.2469,13.5396,6.53632,22.1406,9.17494,32.4136
3,Belgium,1973,0.917638,15.479,13.7384,6.40455,21.9786,9.11402,32.3678

In [11]:
gdp_df.to_csv('out.csv')