In [1]:
import os
import psycopg2
import pandas as pd
import numpy as np
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
from flask import Flask, jsonify, render_template
from flask_sqlalchemy import SQLAlchemy
from sqlalchemy import inspect

In [2]:
url = 'postgres://cvkuzmyutihdti:ccb658b9dbaa9f02508c213880d12db3c0025e92aea837baa7f5f11f60a073e0@ec2-23-21-91-183.compute-1.amazonaws.com:5432/d7drrt22cf3tcf'

In [3]:
engine= sqlalchemy.create_engine(url)

In [4]:
coal_consumption_df = pd.read_sql("SELECT * FROM coal_consumption", engine)

In [32]:
# coal_2017 = coal_consumption_df.loc('Year' == '2017')
coal_2017 = coal_consumption_df[coal_consumption_df['Year']=='2017']

In [41]:
coal_2017.head()

,Year,Belgium,Czech Republic,France,Germany,Italy,Netherlands,Poland,Portugal,Romania,...,Australia,New Zealand,Algeria,Egypt,Nigeria,South Africa,Iran,Kuwait,Saudi Arabia,United Arab Emirates
27,2017,4,45,15,222,15,15,129,6,27,...,119,2,0,1,0,192,2,0,0,2

In [60]:
a = coal_2017.set_index('Year')
# coal_2017

In [61]:
a = a.transpose()
a = a.sort_values('2017',ascending=False)
a.columns = ['Country', 'Amount']
a = a.reset_index()
a.columns = ['Country', 'Amount']

ValueError: Length mismatch: Expected axis has 1 elements, new values have 2 elements

In [55]:
a.head()

Year                      2017
China                     3607
India                      953
United States of America   649
Russian Federation         232
Germany                    222

In [56]:
a.dtypes

Year
2017    int64
dtype: object

In [58]:
a['2017']

China                       3607
India                        953
United States of America     649
Russian Federation           232
Germany                      222
Japan                        196
South Africa                 192
South Korea                  136
Turkey                       134
Poland                       129
Australia                    119
Indonesia                    100
Kazakhstan                    78
Czech Republic                45
Ukraine                       41
Canada                        39
Thailand                      37
Malaysia                      33
Brazil                        28
Romania                       27
Spain                         24
Mexico                        24
United Kingdom                15
Netherlands                   15
Italy                         15
France                        15
Chile                         12
Portugal                       6
Belgium                        4
Colombia                       4
Uzbekistan                     4
Sweden                         3
New Zealand                    2
Iran                           2
United Arab Emirates           2
Argentina                      1
Norway                         1
Egypt                          1
Venezuela                      0
Algeria                        0
Nigeria                        0
Kuwait                         0
Saudi Arabia                   0
Name: 2017, dtype: int64

In [59]:
a.reset_index()

Year                     index  2017
0                        China  3607
1                        India   953
2     United States of America   649
3           Russian Federation   232
4                      Germany   222
5                        Japan   196
6                 South Africa   192
7                  South Korea   136
8                       Turkey   134
9                       Poland   129
10                   Australia   119
11                   Indonesia   100
12                  Kazakhstan    78
13              Czech Republic    45
14                     Ukraine    41
15                      Canada    39
16                    Thailand    37
17                    Malaysia    33
18                      Brazil    28
19                     Romania    27
20                       Spain    24
21                      Mexico    24
22              United Kingdom    15
23                 Netherlands    15
24                       Italy    15
25                      France    15
26                       Chile    12
27                    Portugal     6
28                     Belgium     4
29                    Colombia     4
30                  Uzbekistan     4
31                      Sweden     3
32                 New Zealand     2
33                        Iran     2
34        United Arab Emirates     2
35                   Argentina     1
36                      Norway     1
37                       Egypt     1
38                   Venezuela     0
39                     Algeria     0
40                     Nigeria     0
41                      Kuwait     0
42                Saudi Arabia     0

In [62]:
a.head()

Year                      2017
China                     3607
India                      953
United States of America   649
Russian Federation         232
Germany                    222