In [1]:
import os
import psycopg2
import pandas as pd
import numpy as np
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
from flask import Flask, jsonify, render_template
from flask_sqlalchemy import SQLAlchemy
from sqlalchemy import inspect

In [2]:
url = 'postgres://cvkuzmyutihdti:ccb658b9dbaa9f02508c213880d12db3c0025e92aea837baa7f5f11f60a073e0@ec2-23-21-91-183.compute-1.amazonaws.com:5432/d7drrt22cf3tcf'

In [3]:
engine= sqlalchemy.create_engine(url)

In [4]:
coal_consumption_df = pd.read_sql("SELECT * FROM coal_consumption", engine)

In [11]:
# coal_2017 = coal_consumption_df.loc('Year' == '2017')
coal_2017 = coal_consumption_df[coal_consumption_df['Year']=='2017']

In [12]:
coal_2017

,Year,Belgium,Czech Republic,France,Germany,Italy,Netherlands,Poland,Portugal,Romania,...,Australia,New Zealand,Algeria,Egypt,Nigeria,South Africa,Iran,Kuwait,Saudi Arabia,United Arab Emirates
27,2017,4,45,15,222,15,15,129,6,27,...,119,2,0,1,0,192,2,0,0,2

In [7]:
coal_consumption_df.dtypes

Year                        object
Belgium                      int64
Czech Republic               int64
France                       int64
Germany                      int64
Italy                        int64
Netherlands                  int64
Poland                       int64
Portugal                     int64
Romania                      int64
Spain                        int64
Sweden                       int64
United Kingdom               int64
Norway                       int64
Turkey                       int64
Kazakhstan                   int64
Russian Federation           int64
Ukraine                      int64
Uzbekistan                   int64
Canada                       int64
United States of America     int64
Argentina                    int64
Brazil                       int64
Chile                        int64
Colombia                     int64
Mexico                       int64
Venezuela                    int64
China                        int64
India                        int64
Indonesia                    int64
Japan                        int64
Malaysia                     int64
South Korea                  int64
Thailand                     int64
Australia                    int64
New Zealand                  int64
Algeria                      int64
Egypt                        int64
Nigeria                      int64
South Africa                 int64
Iran                         int64
Kuwait                       int64
Saudi Arabia                 int64
United Arab Emirates         int64
dtype: object