In [22]:
import pandas as pd
import quandl

In [24]:
#*******************************************************

In [53]:
tickers = pd.read_csv('ticker_list_long_S-Z.csv')
tickers.head()

     Country Code        Q_Ticker
0      Spain  ESP  UNAE/GVAKD_ESP
1  Sri Lanka  LKA  UNAE/GVAKD_LKA
2   Suriname  SUR  UNAE/GVAKD_SUR
3  Swaziland  SWZ  UNAE/GVAKD_SWZ
4     Sweden  SWE  UNAE/GVAKD_SWE

In [54]:
# tickers_short = tickers[:3]
# tickers_short

In [55]:
# Para iniciar el dataframe
# HAY QUE BORRAR ESTA LINEA DEL CSV
data = {'Country':['xxx'], 'Year':[0], 'Agriculture':[0], 'Mining':[0], 'Manufacturing':[0], 'Construction':[0], 'Wholesale':[0], 'Transport':[0], 'Other':[0], 'Total':[0]}
# data = {'Country', 'Year', 'Agriculture', 'Mining', 'Manufacturing', 'Construction', 'Wholesale', 'Transport', 'Other'}
gdp_df = pd.DataFrame(data)
gdp_df

,Country,Year,Agriculture,Mining,Manufacturing,Construction,Wholesale,Transport,Other,Total
0,xxx,0,0,0,0,0,0,0,0,0

In [56]:
# tickers_short.Q_Ticker[i]

In [58]:
# for ticker in tickers.Q_Ticker:
for i in range(len(tickers.Q_Ticker)):
    df = quandl.get(tickers.Q_Ticker[i],authtoken="**********")
    df = df.reset_index()
    df['Date'] = pd.DatetimeIndex(df['Date']).year
    df.columns = ["Year","Agriculture","Mining","Manufacturing","Construction","Wholesale","Transport","Other","Total"]
    df['Country'] = tickers.Country[i]
    
    new_df = df[['Country'] + [col for col in df.columns if col != 'Country']]
#     new_df['Total'] = new_df.loc[:,'Agriculture':'Other'].sum(axis=1)
#     pct_df=new_df.loc[:,"Agriculture":"Total"].div(new_df["Total"], axis=0)*100
    
#     final_df = pd.DataFrame([new_df['Country'],new_df['Year'],pct_df["Agriculture"],pct_df["Mining"],pct_df["Manufacturing"],pct_df["Construction"],pct_df["Wholesale"],pct_df["Transport"],pct_df["Other"]])
#     final_df = final_df.transpose()
    
#     gdp_df = pd.concat([gdp_df,final_df], axis=0)
    gdp_df = pd.concat([gdp_df,new_df], axis=0)

In [59]:
gdp_df.shape

(1350, 10)

In [60]:
gdp_df.tail()

,Country,Year,Agriculture,Mining,Manufacturing,Construction,Wholesale,Transport,Other,Total
43,Zimbabwe,2013,1.232873e+09,2.927494e+09,1.321837e+09,3.860197e+08,1.555434e+09,1.297901e+09,4.942036e+09,1.228119e+10
44,Zimbabwe,2014,1.516429e+09,2.839147e+09,1.254541e+09,4.125713e+08,1.594320e+09,1.312692e+09,4.913362e+09,1.252757e+10
45,Zimbabwe,2015,1.437486e+09,2.823216e+09,1.257050e+09,4.289339e+08,1.654904e+09,1.376874e+09,4.951731e+09,1.261155e+10
46,Zimbabwe,2016,1.385516e+09,2.778307e+09,1.207039e+09,4.499516e+08,1.781225e+09,1.332445e+09,5.252456e+09,1.290659e+10
47,Zimbabwe,2017,1.450998e+09,2.740791e+09,1.171353e+09,4.735656e+08,1.863952e+09,1.344891e+09,5.378975e+09,1.317511e+10

In [61]:
gdp_df.to_csv('quandl_out_long_S-Z.csv')

In [51]:
saved_df = gdp_df
saved_df.shape

(957, 10)