In [1]:
import pandas as pd
# import matplotlib.pyplot as plt
# from pandas import ExcelWriter
# from pandas import ExcelFile
import sqlalchemy
import sqlite3 as sq

In [2]:
user = 'cvkuzmyutihdti'
password = 'ccb658b9dbaa9f02508c213880d12db3c0025e92aea837baa7f5f11f60a073e0'
port = '5432'
database = 'd7drrt22cf3tcf'
host = 'ec2-23-21-91-183.compute-1.amazonaws.com'

url = 'postgres://'+user+':'+password+'@'+host+':'+port+'/'+database

engine = sqlalchemy.create_engine(url) # connect to server
con = engine.connect()

In [3]:

file = 'CO2_emissions_from_fuel_combus.csv'

In [4]:
df = pd.read_csv(file)
df = df.transpose()
df = df.reset_index()
df.columns = df.iloc[0]
df = df.reindex(df.index.drop(0))
df = df.rename(columns = {'Unnamed: 0':'Year'})
df.head()

,Year,World,OECD,G7,BRICS,Europe,European Union,Belgium,Czech Rep.,France,...,Africa,Algeria,Egypt,Nigeria,South Africa,Middle-East,Iran,Kuwait,Saudi Arabia,United Arab Emirates
1,1990,20277.7,11174.9,8575.88,5411.2,4417.64,4115.02,105.89,151.25,357.02,...,540.3,52.98,78.5,28.32,253.94,589.22,181.22,28.07,155.69,52.15
2,1991,20428.9,11205.8,8549.52,5573.58,4392.06,4099.76,110.43,139.65,383.18,...,546.73,57.15,77.18,33.59,250,604.04,200.79,7.82,162.06,59.46
3,1992,20389.2,11267.8,8599.21,5544.03,4270.49,3981.31,109.48,134.2,372.34,...,555.68,57.26,80.06,40.14,246.78,676.17,218.15,22.5,176.78,56.91
4,1993,20483.4,11357.1,8665.63,5584.72,4181.88,3896.36,108.16,132.72,354.24,...,566.1,59.2,81.83,36.64,255.05,726.36,219.61,28.8,187.36,59.99
5,1994,20569.2,11540.2,8776.88,5532,4135.39,3863.83,113.65,125.87,346.94,...,565.36,56.35,77.46,30.85,260.13,796.09,248.77,33.37,199.49,65.89

In [5]:
df.to_sql(name="emissions", con = engine, if_exists = 'replace', index=False)

In [ ]:
df.head()

In [ ]:
df = df.transpose()

In [ ]:
df = df.reset_index()

In [ ]:
df.head()

In [ ]:
df.columns = df.iloc[0]

In [ ]:
df.head()

In [ ]:
df = df.reindex(df.index.drop(0))

In [ ]:
df.head()

In [ ]:
df = df.rename(columns = {'Unnamed: 0':'Year'})

In [ ]:
test.head()

In [ ]:
a

In [ ]:
df.to_sql(name="emissions", con = engine, if_exists = 'replace', index=False)

In [ ]:
consumption_df = pd.read_excel(file, sheet_name='T34 Wine consumption vol', skiprows=0) # 1st row is sheet title, 2nd is column header

In [ ]:
consumption_df.head()

In [ ]:
test = consumption_df.set_index('year')

In [ ]:
test = consumption_df.transpose()

In [ ]:
test.head()

In [ ]:
consumption_df = pd.read_excel(file, sheet_name='T34 Wine consumption vol', skiprows=0) # 1st row is sheet title, 2nd is column header

production_df = pd.read_excel(file, sheet_name='T6 Wine production', skiprows=0) # 1st row is sheet title, 2nd is column header

population_df = pd.read_excel(file, sheet_name='T58 Population', skiprows=0) # 1st row is sheet title, 2nd is column header

In [ ]:
consumption_df.head()

In [ ]:
production_df.head()

In [ ]:
population_df.head()

In [ ]:
user = 'cvkuzmyutihdti'
password = 'ccb658b9dbaa9f02508c213880d12db3c0025e92aea837baa7f5f11f60a073e0'
port = '5432'
database = 'd7drrt22cf3tcf'
host = 'ec2-23-21-91-183.compute-1.amazonaws.com'

url = 'postgres://'+user+':'+password+'@'+host+':'+port+'/'+database

engine = sqlalchemy.create_engine(url) # connect to server
con = engine.connect()

In [ ]:
consumption_df.to_sql(name="consumption_db", con = engine, if_exists = 'replace', index=False)
production_df.to_sql(name="production_db", con = engine, if_exists = 'replace', index=False)
population_df.to_sql(name="population_db", con = engine, if_exists = 'replace', index=False)

In [ ]:
## create df from wine reviews file
winemag_df = pd.read_csv('winemag-data-short.csv')
winemag_df.head()

In [ ]:
# Create table with wine reviews info in heroku postgres
winemag_df.to_sql(name="winemag_db", con = engine, if_exists = 'replace', index=False)

In [ ]:
### Create a sqlite file from a dataframe

sql_data = 'wine_db.sqlite' #- Creates DB names SQLite
conn = sq.connect(sql_data)
cur = conn.cursor()
# cur.execute('''DROP TABLE IF EXISTS''')
consumption_df.to_sql('consumption', conn, if_exists='replace', index=True) # - writes the pd.df to SQLIte DB
production_df.to_sql('production', conn, if_exists='replace', index=True)
population_df.to_sql('population', conn, if_exists='replace', index=True)
#pd.read_sql('select * from SentimentAnalysis', conn)
conn.commit()
conn.close()

In [ ]:
### Create a sqlite file from a dataframe

sql_data = 'winemag_short_db.sqlite' #- Creates DB names SQLite
conn = sq.connect(sql_data)
cur = conn.cursor()
# cur.execute('''DROP TABLE IF EXISTS''')
winemag_df.to_sql('winemag_db', conn, if_exists='replace', index=True) # - writes the pd.df to SQLIte DB
# production_df.to_sql('production', conn, if_exists='replace', index=True)
# population_df.to_sql('population', conn, if_exists='replace', index=True)
#pd.read_sql('select * from SentimentAnalysis', conn)
conn.commit()
conn.close()

In [ ]:
pwd